.about {
  &__container {
    padding: 30px 0 30px 0;
    display: flex;
  }
  &__text {
    line-height: 1.5em;
    margin: 0 0 1.5em 0;
    &:last-child {
      margin: 0;
    }
  }
  &__section {
    flex: 1 1 100%;
  }
  .banner {
    width: 370px;
    box-sizing: content-box;
    padding-left: 30px;
  }
}
@media screen and(max-width: 992px) {
  .about {
    .banner {
      width: 280px;
    }
  }
}
@media screen and(max-width: 768px) {
  .about {
    &__container {
      display: block;
    }
    .banner {
      width: 100%;
      padding: 20px 0 0 0;
    }
  }
}