.about {
  &__container {
    display: flex;
  }
  &__text {
    line-height: 1.5em;
    margin: 0 0 1.5em 0;
    &:last-child {
      margin: 0;
    }
  }
  &__section {
    flex: 1 1 100%;
  }
  &__banner {
    width: 400px;
    padding-left: 30px;
    flex-shrink: 0;
  }
}
@media screen and(max-width: 992px) {
  .about {
    &__banner {
      width: 280px;
    }
  }
}
@media screen and(max-width: 768px) {
  .about {
    &__container {
      display: block;
    }
    &__banner {
      width: 100%;
      padding: 20px 0 0 0;
    }
  }
}