.aside {
  width: 270px;
  flex-shrink: 0;
  .float-stop {
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  &__container {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: calc(100% + 30px);
    align-content: flex-start;
    align-items: flex-start;
  }
  .row {
    margin: -10px;
  }
  .col {
    padding: 10px;
    width: 100%;
  }
}
.aside-block {
  padding: 15px;
  width: 100%;
}
.floating-block {
  width: 300px;
  padding: 15px;
  &_fixed {
    position: fixed;
    top: 0;
  }
  &_bottom {
    position: absolute;
    top: auto;
    bottom: 300px;
  }
}
.best-bookie {
  width: 100%;
}
.best-bookie-block {
  width: 100%;
  font-family: 'Roboto Condensed';
  font-weight: bold;
  font-size: 24px;
  &__container {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    color: #fff;
    display: block;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      top: 0;
      left: 0;
    }
  }
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
    top: 0;
    left: 0;
  }
  &__content {
    position: relative;
    z-index: 3;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  .icon {
    width: 52px;
    height: 52px;
    margin-right: 16px;
    position: relative;
    flex-shrink: 0;
    img {
      display: block;
      height: 100%;
      width: auto;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }
  }
}
.top-apps {
  &__button {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
}
.top-apps-block {
  padding-bottom: 20px;
  &__container {
    display: flex;
    align-items: flex-start;
  }
  &__image {
    width: 60px;
    height: auto;
    flex-shrink: 0;
  }
  &__content {
    padding-left: 15px;
    flex: 1 1 100%;
  }
  &__content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__button {
    font-size: 12px;
    padding-left: 31px;
    padding-right: 31px;
  }
  &__title {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    transition: 0.3s;
    &:hover {
      color: #00247D;
    }
  }
  &__text {
    font-weight: normal;
    font-style: italic;
    font-size: 10px;
    display: block;
    padding-top: 5px;
  }
  .inline-link {
    font-size: 12px;
  }
  .rating {
    margin: 4px 0;
  }
  &__os-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-bottom: 4px;
  }
  &__os-item {
    width: 15px;
    height: 15px;
    background: url('../img/icons/os-sprite.png') no-repeat;
    opacity: 0.5;
    &:not(:last-child) {
      margin-right: 5px;
    }
    &_android {
      background-position: -10px -10px;
    }
    &_ios {
      background-position: -43px -10px;
    }
  }
}
.aside-news {
  &__button {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
}
.aside-news-block {
  padding-bottom: 20px;
  &__image {
    display: block;
    position: relative;
    width: 90px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 3px;
    flex-shrink: 0;
    &:before {
      content: '';
      display: block;
      padding-top: 82%;
      position: relative;
      z-index: 2;
      opacity: 0;
    }
    img {
      display: block;
      position: absolute;
      height: 100%;
      width: auto;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__container {
    display: flex;
    align-items: flex-start;
  }
  &__content {
    flex: 1 1 100%;
    padding-left: 10px;
  }
  &__date {
    font-size: 12px;
    color: #9C9C9C;
    letter-spacing: 0.1em;
    font-style: italic;
    display: block;
    padding-bottom: 10px;
  }
  &__text {
    font-size: 12px;
    line-height: 1.4em;
    font-weight: 600;
    display: block;
  }
}
.sign-up-offers {
  .col {
    padding: 0;
  }
  .row {
    margin: 0;
  }
  &__container {
    border-radius: 5px;
    border: 1px solid rgba(0, 36, 125, 0.05);
    background-color: #fff;
    margin-bottom: 10px;
  }
  &__button {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
}
.sign-up-offers-block {
  &__container {
    text-decoration: none;
    display: block;
    color: #494949;
    padding: 10px 10px 40px 10px;
    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 36, 125, 0.05);
    }
    &:hover {
      .sign-up-offers-block__title {
        color: #00247D;
      }
      .sign-up-offers-block__label {
        background: #003CD1;
      }
    }
  }
  &__label {
    color: #fff;
    background-color: #00247D;
    border-radius: 5px;
    padding: 6px 17px;
    font-weight: bold;
    font-size: 12px;
    transition: .3s;
    flex-shrink: 0;
  }
  &__section {
    display: flex;
    align-items: center;
  }
  &__image {
    position: relative;
    width: 54px;
    height: 54px;
    flex-shrink: 0;
    img {
      display: block;
      position: absolute;
      height: 100%;
      width: auto;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }
  }
  &__text {
    font-size: 8px;
    padding-top: 10px;
  }
  &__titles {
    padding: 0 10px;
    flex: 1 1 100%;
  }
  &__title {
    transition: .3s;
    font-weight: bold;
    color: #000;
    display: block;
    padding-bottom: 3px;
  }
  &__sub-title {
    font-size: 12px;
    display: inline-block;
    line-height: 1.4em;
  }
}
.aside-nav {
  &__container {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border: 1px solid rgba(0, 36, 125, 0.05);
    padding: 15px 20px 20px 20px;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  &__link {
    color: #494949;
    position: relative;
    padding-left: 20px;
    display: block;
    .icon {
      width: 14px;
      height: 14px;
      transition: 0.3s;
      fill: #BCBCBC;
      transition: 0.3s;
      position: absolute;
      top: 3px;
      left: 0;
    }
    &:hover {
      .icon {
        fill: #CF142B;
      }
    }
  }
}
.online-bookmaker-recommends-banner {
  
}
.also-recommend {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    &:not(:last-child) {
      padding-bottom: 7px;
    }
  }
}
.overall-rating {
  font-size: 12px;
  &__banner {
    .banner {
      background-color: #003CD1;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
      &__container {
        padding: 20px;
      }
      &__title-text {
        font-size: 18px;
      }
      &__title {
        padding: 0;
      }
      &__title-value {
        font-size: 32px;
      }
    }
  }
  &__reasons-list {
    list-style: none;
    margin: 0;
    padding: 0 0 15px 0;
  }
  &__reasons-item {
    padding-left: 21px;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    .icon {
      width: 14px;
      height: 14px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &__container {
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }
  &__title {
    margin-bottom: 2px;
    display: inline-block;
    white-space: nowrap;
  }
  &__table {
    width: 100%;
  }
  &__value {
    font-weight: bold;
    color: #2A2A2A;
    font-family: 'Roboto Condensed';
  }
  &__row {
    &:not(:last-child) {
      .overall-rating__col {
        padding-bottom: 4px;
      }
    }
  }
  &__col {
    &:nth-child(2) {
      padding-right: 10px;
      padding-left: 10px;
    }
    &:nth-child(3) {
      text-align: right;
    }
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 1px;
    }
    background: #D1D1D1;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    width: 6px;
    height: 9px;
    &_active {
      background: #587DD8;
    }
  }
}
.betway-revievs {
  align-self: flex-end;
  &__container {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 20px;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__link {
    text-decoration: none;
    transition: 0.3s;
    padding-left: 26px;
    position: relative;
    color: #494949;
    display: block;
    .icon {
      width: 18px;
      height: 18px;
      fill: #BCBCBC;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:hover {
      color: #00247D;
      .icon {
        fill: #CF142B;
      }
    }
  }
  &__link-title {
    font-weight: bold;
    display: block;
  }
  &__link-text {
    font-size: 12px;
  }
}
.aside-news-nav {
  &__container {
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }
}
.aside-news-nav-block {
  position: relative;
  &:not(:last-child) {
    &:after {
      content: '';
      display: block;
      width: calc(100% - 20px);
      height: 1px;
      background-color: #E8E8E8;
      position: absolute;
      bottom: 0;
      left: 10px;
    }
  }
  &__title-link {
    font-size: 14px;
    font-weight: bold;
  }
  &__link {
    font-size: 12px;
  }
  &__list {
    list-style: none;
    padding: 5px 0 0 0;
    margin: 0;
  }
}
.top-sports-book,
.newest-reviews {
  .col {
    padding: 5px;
  }
  .row {
    margin: -5px;
  }
}
.top-sports-book-block {
  &__container {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    align-items: center;
  }
  &__overlay {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 35, 125, 0.8);
    opacity: 0;
    transition: 0.3s;
    &:hover {
      opacity: 1;
    }
  }
  &__button {
    padding-left: 42px;
    padding-right: 42px;
  }
  &__image {
    z-index: 1;
    flex: 1 1 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    &:before {
      content: '';
      display: block;
      padding-top: 50%;
    }
    img {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__bonus {
    padding: 10px;
    text-align: center;
    color: #494949;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    &-label {
      display: block;
      text-align: center;
      font-size: 12px;
      white-space: nowrap;
    }
    &-value {
      font-family: Roboto Condensed;
      font-weight: bold;
      font-size: 20px;
      display: block;
      padding: 3px 0;
    }
  }
  &__container {

  }
}
.newest-reviews-block {
  &__container {
    text-decoration: none;
    color: #494949;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    align-items: stretch;
    transition: 0.3s;
    &:hover {
      opacity: 0.8;
    }
  }
  &__image {
    z-index: 1;
    width: 95px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    &:before {
      content: '';
      display: block;
      padding-top: 80%;
    }
    img {
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__content {
    padding: 10px;
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  &__date {
    display: block;
    padding-bottom: 4px;
    color: #888888;
    font-size: 10px;
  }
  &__title {
    font-size: 20px;
    font-family: 'Roboto Condensed';
    font-weight: bold;
  }
  &__rating {
    display: flex;
    .icon {
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }
    &-value {
      font-weight: bold;
      font-style: 'Roboto Condensed';
      font-weight: bold;
      font-size: 18px;
    }
  }
  &__section {
    &:nth-child(1) {
      padding-right: 5px;
    }
  }
}

@media screen and(max-width: 992px) {
  .aside {
    width: 100%;
    .col {
      width: 33.33%;
    }
    .float-stop {
      position: relative;
      bottom: auto;
      width: auto;
    }
    &-block {
      width: 100%;
    }
  }
  .existing-offers-banner,
  .aside-nav,
  .online-bookmaker-recommends-banner,
  .also-recommend {
    width: 33.33%;
  }
  .best-bookie-block {
    font-size: 20px;
  }
  .top-apps {
    .col {
      width: 50%;
    }
  }
  .top-apps-block {
    &__section {
      flex: 1 1 50%;
      &:first-child {
        padding-right: 10px;
      }
    }
    &__text {
      br {
        display: none;
      }
    }
    &__button {
      padding: 10px;
      display: block;
    }
  }
  .aside-nav {
    order: 102;
  }
  .also-recommend {
    order: 103;
  }
}
@media screen and(max-width: 768px) {
  .aside {
    .col {
      width: 50%;
    }
  }
  .aside-nav,
  .online-bookmaker-recommends-banner,
  .also-recommend {
    width: 50%;
  }
  .existing-offers-banner {
    order: 100;
    width: 100%;
  }
}
@media screen and(max-width: 576px) {
  .aside {
    .col {
      width: 100%;
    }
  }
  .aside-nav,
  .online-bookmaker-recommends-banner,
  .also-recommend {
    width: 100%;
  }
}