.bookmakers {
  &__container {
    padding: 0 0 30px 0;
  }
  .table {
    box-shadow: none;
    &__col {
      &:nth-child(1) {
        flex: 1 1 48%;
      }
      &:nth-child(2) {
        flex: 1 1 34%;
      }
      &:nth-child(3) {
        flex: 1 1 18%;
      }
    }
  }
}

@media screen and(max-width: 992px) {
  .bookmakers {
    .col-rating__section,
    .col-rating__content {
      flex-wrap: wrap;
    }
  }
}
@media screen and(max-width: 576px) {
  .bookmakers {
    .table__flex {
      flex-wrap: wrap;
    }
    .col-bet .button {
      padding: 10px;
      width: 100%;
      display: block;
    }
    .table__col {
      padding: 20px;
      &:nth-child(1) {
        flex: 1 1 100%;
      }
      &:nth-child(2) {
        flex: 1 1 55%;
      }
      &:nth-child(3) {
        flex: 1 1 45%;
      }
    }
  }
}