.filter {
  position: relative;
  z-index: 2;
  &__toggle {
    margin-bottom: 20px;
    display: none;
    width: 100%;
  }
  &__container {
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 20px;
    &_visible {
      margin-bottom: 20px;
    }
  }
  .row {
    margin: -10px;
  }
}
.filter-block {
  position: relative;
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: -4px -20px;
  }
  &__item {
    padding: 4px 20px;
  }
  &__label {
    cursor: pointer;
    padding-left: 19px;
    position: relative;
    display: block;
    transition: 0.3s;
    &:before,
    &:after {
      content: '';
      display: block;
      width: 9px;
      height: 9px;
      position: absolute;
      left: 0;
      top: 0.4em;
      border-radius: 1px;
      box-sizing: border-box;
    }
    &:before {
      border: 1px solid #9C9C9C;
      z-index: 1;
    }
    &:after {
      background-color: #CF142B;
      z-index: 2;
      opacity: 0;
    }
    &:hover {
      color: #00247D;
    }
    &_checked {
      color: #00247D;
      &:after {
        opacity: 1;
      }
    }
  }
  &__checkbox {
    display: none;
  }
  &__dropdown-button {
    background: #FFFFFF;
    border: 1px solid #00247d0d;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 7px 10px;
    text-decoration: none;
    cursor: pointer;
    color: #494949;
    position: relative;
    transition: 0.3s;
    &:hover {
      border-color: #b4b4b4;
    }
    .icon {
      width: 8px;
      height: 8px;
      position: absolute;
      right: 10px;
      top: 13px;
    }
    &_disabled {
      color: #9C9C9C !important;
      border-color: #00247d0d !important;
    }
  }
  &__dropdown {
    position: relative;
    margin-top: 8px;
    z-index: 1;
    .filter-block__list {
      column-count: 2;
      column-gap: 0;
      width: 100%;
    }
    .filter-block__item {
      flex-shrink: 0;
      break-inside: avoid-column;
      width: 100%;
    }
  }
  &__dropdown-container {
    position: absolute;
    background-color: #fff;
    right: 0;
    top: 0;
    background: #FFFFFF;
    border: 1px solid rgba(0, 36, 125, 0.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 33px 14px 69px 20px;
    width: 400px;
    height: 400px;
    display: none;
    .icon {
      width: 8px;
      height: 8px;
      position: absolute;
      right: 10px;
      top: 13px;
    }
    .nicescroll-rails {
    }
  }
  &__dropdown-section {
    display: flex;
    &:not(:last-child) {
      padding-bottom: 10px;
    }
  }
  &__dropdown-content {
    padding: 0 40px 0 0;
    overflow-y: auto;
    height: 100%;
  }
  &__alphabet {
    font-size: 20px;
    color: #2A2A2A;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 10px;
    flex-shrink: 0;
  }
  &__close {
    padding: 10px 20px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    .icon {
      fill: #fff;
      position: relative;
      top: auto;
      right: auto;
      margin-left: 5px;
      width: 8px;
      height: 8px;
    }
  }
}

@media screen and(max-width: 992px) {
  .filter {
    &__toggle {
      display: block;
    }
    &__container {
      display: none;
    }
  }
}