$hover1: #c9c9c9;
$hover2: #636363;
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  &__container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__section {
    display: flex;
    align-items: center;
  }
  .nav {
    padding-right: 30px;
    &__item {
      height: 40px;
    }
    &__dropdown {
      position: absolute;
      right: 0;
      top: 0;
      min-width: 100%;
      z-index: 1;
      padding-top: 40px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
      display: none;
      &-list {
        padding: 5px 0 10px 0;
      }
      &-link {
        text-decoration: none;
        color: #2a2a2a;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        display: block;
        padding: 8px 20px;
        white-space: nowrap;
        transition: 0.3s;
        text-align: right;
        &:hover {
          background-color: #f3f3f3;
        }
      }
    }
    &__link {
      &_active {
        color: #bcbcbc;
        .icon {
          stroke: #bcbcbc;
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
  }
  &_style2 {
    position: relative;
    background-color: #00247D;
  }
}
.search-block {
  height: 40px;
  padding: 0 30px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  margin-right: 10px;
  &:before,
  &:after {
    content: '';
    display: block;
    height: 50px;
    width: 1px;
    background-color: rgba(255 ,255, 255, 0.1);
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
  &__button {
    outline: none;
    background: transparent;
    border: 0;
    width: 100%;
    padding: 0;
    cursor: pointer;
    position: relative;
    z-index: 1;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      height: 23px;
      width: 23px;
      fill: #fff;
    }
    &:hover {
      .icon {
        fill: $hover1;
      }
    }
  }
  &__container {
    display: none;
    position: absolute;
    right: 11px;
    top: 0;
    z-index: 2;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 410px;
  }
  &__content {
    width: 100%;
    height: 100%;
    display: flex;
  }
  &__form {
    display: flex;
    height: 100%;
    flex: 1 1 100%;
  }
  &__input {
    appearance: none;
    height: 100%;
    flex: 1 1 100%;
    border: 0;
    outline: none;
    padding: 13px 0;
    &::placeholder {
      color: #C4C4C4;
      transition: 0.3s;
    }
    &:focus {
      &::placeholder {
        color: transparent;
      }
    }
  }
  &__submit,
  &__close {
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    height: 100%;
    width: 40px;
    flex-shrink: 0;
    .icon {
      fill: #C4C4C4;
    }
    &:hover {
      .icon {
        fill: $hover2;
      }
    }
  }
  &__submit {
    .icon {
      width: 17px;
      height: 17px;
      padding-top: 4px;
    }
  }
  &__close {
    .icon {
      width: 12px;
      height: 12px;
      padding-top: 2px;
    }
  }
}
.sign-in {
  padding: 0 15px 0 15px;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  &__button {
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    padding: 0;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
    display: flex;
    align-items: center;
    height: 30px;
    position: relative;
    z-index: 2;
    .icon {
      width: 23px;
      height: 23px;
      fill: #fff;
      padding-right: 7px;
    }
  }
  &__container {
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    min-width: 113px;
  }
  &__content {
    padding: 46px 10px 16px 10px;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    &:not(:last-child) {
      padding-bottom: 2px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #494949;
    font-size: 10px;
    padding: 3px 9px;
    transition: 0.3s;
    border-radius: 5px;
    .icon {
      width: 15px;
      height: 15px;
      padding-right: 9px;
    }
    &:hover {
      background-color: #f5f5f5;
    }
  }
  &_active {
    .sign-in__button {
      color: #BCBCBC;
      .icon {
        fill: #BCBCBC;
      }
    }
  }
}
.mobile-button {
  transition: .3s;
  width: 37px;
  height: 26px;
  display: none;
  position: relative;
  flex-shrink: 0;
  margin: 0 15px;
  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 37px;
    left: 0;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    border-radius: 4px;
    background-color: #fff;
    transition: .3s;
    &:before,
    &:after {
      display: block;
      content: "";
      height: 4px;
      border-radius: 2px;
      width: 100%;
      background-color: #fff;
      position: absolute;
      transition: .3s;
      left: 0;
    }
    &:before {
      top: -10px;
    }
    &:after {
      bottom: -10px;
    }
  }
  &_active {
    span {
      background-color: transparent !important;
      &:before {
        transform: rotate(45deg);
        top: 0px;
      }
      &:after {
        transform: rotate(-45deg);
        bottom: 0px;
      }
    }
  }
}

@media screen and(max-width: 1200px) {
  .header {
    .search-block {
      margin-right: 0;
      padding: 0 15px;
    }
    .nav__item {
      padding: 10px;
    }
    .nav {
      padding-right: 20px;
    }
  }
}
@media screen and(max-width: 992px) {
  .header {
    .nav {
      display: none;
    }
    .mobile-button {
      display: block;
    }
    .search-block {
      order: 3;
      padding: 0 0 0 15px;
      &:after {
        display: none;
      }
      &__container {
        right: 0;
        width: calc(100vw - 30px);
        max-width: 410px;
      }
    }
    .search-block:before {
      height: 40px;
    }
    .sign-in:after {
      content: '';
      right: 0;
      display: block;
      height: 40px;
      width: 1px;
      background-color: rgba(255,255,255,.1);
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
    }
  }
}
@media screen and(max-width: 768px) {
  .header {
    &__container {
      height: 80px;
    }
  }
}
@media screen and(max-width: 420px) {
  .header {
    .logo {
      height: 35px;
    }
    .sign-in__button {
      font-size: 0;
      .icon {
        height: 30px;
        width: 30px;
        padding: 0;
      }
    }
  }
}