.home {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/backgrounds//bg-home.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  &__container {
    padding: 100px 0 26px 0;
    height: 100vh;
    min-height: 550px;
    max-height: 650px;
    display: flex;
    flex-direction: column;
  }
  &__content {
    text-align: center;
    height: 100%;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__title {
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 42px;
    margin: 0;
  }
  &__sub-title {
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 22px;
    margin: 0;
    letter-spacing: 0.1em;
    padding-bottom: 39px;
  }
  .hot-offers {
    padding: 0 35px;
    flex-shrink: 0;
    &__container {
      display: flex;
      align-items: center;
    }
    &__title-section {
      flex-shrink: 0;
      padding-right: 34px;
    }
    &__title {
      font-family: 'Roboto Condensed';
      font-weight: bold;
      font-size: 24px;
      display: block;
    }
    &__link-more {
      color: #fff;
      font-style: italic;
      &:hover {
        color: #c9c9c9;
      }
    }
  }
  .hot-offers-slider {
    background: rgba(33, 33, 33, 0.5);
    flex: 1 1 100%;
  }
  .hot-offers-slide {
    &:before {
      background: rgba(0, 0, 0, 0.3);
    }
    &__title {
      color: #fff;
    }
    &__button {
      background: #fff;
      color: #000;
      &:hover {
        background: #c9c9c9;
      }
    }
    &__link {
      color: #fff;
      &:hover {
        color: #c9c9c9;
        border-color: #c9c9c9;
      }
    }
  }
}
@media screen and(max-width: 768px) {
  .home {
    &__container {
      padding-top: 80px;
    }
    .hot-offers__container {
      text-align: center;
      display: block;
    }
    .hot-offers__title-section {
      padding: 0 0 10px 0;
      display: flex;
      justify-content: center;
    }
    .hot-offers__title {
      display: inline-block;
    }
    .hot-offers__link-more {
      position: absolute;
      right: -10px;
      bottom: 5px;
      transform: translateX(100%);
    }
  }
}
@media screen and(max-width: 576px) {
  .home {
    &__container {
      min-height: 500px;
      max-height: 600px;
    }
    &__title {
      font-size: 32px;
    }
    &__sub-title {
      font-size: 18px;
      padding-bottom: 30px;
    }
    .hot-offers__link-more {
      position: relative;
      right: 0;
      bottom: 0;
      transform: translateX(0);
    }
    .hot-offers__title {
      display: block;
    }
    .hot-offers {
      padding: 0;
    }
  }
}