
.hot-offers {
  &__title {
    text-transform: uppercase;
  }
  &__title-section-content {
    position: relative;
  }
  &__link-more {
    transition: 0.3s;
  }
}
.hot-offers-slider {
  border-radius: 5px;
  overflow: hidden;
  .slick-track {
    display: flex;
  }
}
.hot-offers-slide {
  position: relative;
  outline: none;
  overflow: hidden;
  height: auto;
  font-size: 12px;
  &__container {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: 0.3s;
    padding: 24px 20px;
    height: 100%;
  }
  &:before {
    content: '';
    position: absolute;
    display: block;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
  }
  &__content {
    position: relative;
    width: 100%;
  }
  &__title {
    text-decoration: underline;
    line-height: 1em !important;
  }
  &__image-container {
    height: 51px;
    width: 51px;
    box-sizing: content-box;
    flex-shrink: 0;
    border-radius: 6px;
    overflow: hidden;
    margin-right: 11px;
  }
  &__title-container {
    opacity: 1;
    position: relative;
    z-index: 1;
    transition: 0.3s;
  }
  &__links-container {
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 2;
    transition: 0.3s;
    visibility: hidden;
  }
  &__links-content {
    padding: 0 0 0 7px;
    text-align: center;
  }
  &__button {
    display: block;
    width: 100%;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 0;
  }
  &__link {
    text-decoration: none;
    font-size: 10px;
    margin-top: 0.1em;
    border: 0;
    outline: none;
    background: transparent;
    border-bottom: 1px dashed #fff;
    padding: 0;
    cursor: pointer;
    &:hover {
      color: #000;
    }

  }
  &__image {
    display: block;
    width: 100%;
    height: 100%;
  }
  &_active {
    &:before {
      opacity: 1;
    }
    .hot-offers-slide__title-container {
      opacity: 0;
    }
    .hot-offers-slide__links-container {
      opacity: 1;
      visibility: visible;
    }
  }
}