.join {
  &__container {
    padding: 10px 0;
  }
  &__title {
    font-size: 34px;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    display: block;
    text-align: center;
    a {
      color: #00247d;
      text-decoration: none;
      transition: 0.3s;
      &:hover {
        color: #0439bd;
      }
    }
  }
  &__sub-title {
    display: block;
    text-align: center;
    line-height: 21px;
    padding-bottom: 22px;
  }
}
.join-form {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  &__group {
    width: 100%;
    display: flex;
    &:nth-child(1) {
      box-shadow: 0px 4px 4px rgba(136, 136, 136, 0.25);
      border-radius: 5px;
      margin-bottom: 8px;
    }
  }
  &__input {
    flex: 1 1 100%;
    border: 1px solid #E8E8E8;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    padding: 0 0 0 20px;
    font-size: 12px;
    line-height: normal;
    &::placeholder {
      color: #9C9C9C;
    }
    &:focus {
      &::placeholder {
        color: transparent;
      }
    }
  }
  &__button {
    border-radius: 0 5px 5px 0;
    padding-left: 29px;
    padding-right: 29px;
    font-size: 14px;
    flex-shrink: 0;
  }
  &__label {
    font-size: 10px;
    line-height: 1.5em;
    padding-left: 5px;
  }
}

@media screen and(max-width: 768px) {
  .join__title {
    font-size: 26px;
  }
}