.mobile-nav {
  background-color: #fff;
  position: fixed;
  height: 100vh;
  width: 230px;
  z-index: 20;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.3s;
  padding-top: 60px;
  &__container {
    padding: 10px 0 0 0;
    overflow: auto;
    height: 100%;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    display: block;
  }
  &__link {
    font-size: 20px;
    text-transform: uppercase;
    color: #2a2a2a;
    font-family: 'RobotoCondensed';
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    transition: 0.3s;
    &:hover {
      background-color: #f3f3f3;
    }
  }
  &__close-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: #f3f3f3;
    padding: 15px 20px;
  }
}
.overlay {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 4, 7, 0.9);
  z-index: 15;
  display: none;
}
.mobile-nav__close {
  transition: .3s;
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
  &:before,
  &:after {
    content: '';
    display: block;
    background-color: #2a2a2a;
    width: 34px;
    height: 4px;
    border-radius: 4px;
    left: 50%;
    top: 50%;
    position: absolute;
  }
  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
