.qa {
  &__button-section {
    display: block;
    text-align: center;
    padding-top: 30px;
  }
  &__button {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.qa-block {
  border: 1px solid #F2F4F9;
  overflow: hidden;
  border-radius: 5px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &__title {
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 25px;
    position: relative;
    transition: 0.3s;
    .icon {
      width: 12px;
      height: 12px;
      position: absolute;
      right: 15px;
      top: 27px;
      transition: 0.3s;
    }
  }
  &__dropdown {
    display: none;
  }
  &__dropdown-container {
    padding: 0 20px 30px 20px;
  }
  &_active {
    .qa-block__title {
      color: #00247D;
      .icon {
        transform: rotate(180deg);
      }
    }
  }
}
@media screen and(max-width: 576px) {
  .qa__button {
    display: block;
  }
}