@import "./partials/normalize";
//@import "./partials/fonts";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

body {
  font: 14px 'Open Sans', sans-serif;
  min-width: 320px;
  color: #2A2A2A;
  position: relative;
  overflow-x: hidden;
  background-color: #f7f7f7;
  transition: transform .3s;
  text-rendering: optimizeSpeed;
}
p {
  line-height: 1.5em;
  margin: 0 0 1em 0;
  &:last-child {
    margin-bottom: 0;
  }
}
.body_hidden {
  overflow: hidden;
}
.body_active {
  transform: translateX(280px);
}
.wrapper {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
.cookies-message {
  position: fixed;
  width: 100%;
  background-color: #E0E8FF;
  z-index: 1000;
  bottom: 0;
  left: 0;
  color: #494949;
  display: none;
  &__container {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    padding-right: 22px;
  }
}
.main {
  &_width-aside {
    .container {
      display: flex;
    }
  }
  &__container {
    flex: 1 1 100%;
    padding-right: 30px;
  }
}
.aside {
  width: 270px;
  flex-shrink: 0;
}
.text-block {
  padding: 0 0 30px 0;
  &__container {
    padding: 30px 20px;
    background-color: #fff;
    border-radius: 5px;
  }
  p {
    padding-right: 50px;
  }
}
.up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: transparent;
  padding: 0;
  display: none;
  border: 0;
  z-index: 1500;
  cursor: pointer;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    font-weight: bold;
    color: #587DD8;
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 2px solid #587DD8;
    transition: 0.3s;
  }
  &:hover {
    .up__container {
      opacity: 0.8;
    }
  }
  .icon {
    width: 20px;
    height: 20px;
  }
  span {
    display: block;
    line-height: 1.3em;
    padding-top: 0.1em;
  }
}
.logo {
  height: 43px;
  &__link {
    display: block;
    height: 100%;
  }
  &__image {
    height: 100%;
    width: auto;
  }
}
.checkbox {
  display: none;
}
.checkbox + label{
  position: relative;
  padding-left: 18px;
  cursor: pointer;
}
.checkbox + label:before {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  border-radius: 3px;
  background-color: #E8E8E8;
}
.checkbox + label:after {
  content: '';
  display: block;
  height: 4px;
  width: 6px;
  border-left: 2px solid #494949;
  border-bottom: 2px solid #494949;
  position: absolute;
  left: 3px;
  top: 3px;
  z-index: 2;
  transform: rotate(-45deg);
  opacity: 0;
}
.checkbox:checked + label:after {
  opacity: 1;
}
.nav {
  color: #fff;
  &__list {
    padding: 0;
    list-style: none;
    display: flex;
    margin: 0 -14px;
  }
  &__item {
    padding: 0 14px;
    position: relative;
    display: flex;
    align-items: center;
    &_dropdown {
      position: relative;
      z-index: 2;
    }
  }
  &__link {
    position: relative;
    cursor: pointer;
    z-index: 2;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.05em;
    white-space: nowrap;
    transition: 0.3s;
    .icon {
      width: 9px;
      height: 5px;
      box-sizing: content-box;
      padding: 0 0 0.1em 0.1em;
      stroke: #fff;
      transition: 0.3s;
    }
    &:hover {
      color:  #c9c9c9;
      .icon {
        stroke: #bcbcbc;
      }
    }
  }
  &__dropdown {
    &-list {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    &-link {
      text-decoration: none;
    }
  }
}
.icon {
  box-sizing: content-box;
  transition: 0.3s;
  user-select: none;
  pointer-events: none;
}
.button {
  text-decoration: none;
  border: 0;
  outline: none;
  display: inline-block;
  transition: 0.3s;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  &_style1 {
    background: #CF142B;
    font-weight: bold;
    color: #fff;
    padding: 10px 51px;
    &:hover {
      background-color: #FF1B37;
    }
  }
  &_style2 {
    border: 1px solid #587DD8;
    padding: 10px;
    font-weight: bold;
    color: #587DD8;
    &:hover {
      color: #3f61b8;
      border-color: #3f61b8;
      background-color: #fff;
    }
  }
  &_style3 {
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    background-color: #003CD1;
    &:hover {
      background-color: #044afd;
    }
  }
}
.tooltipster-box {
  margin: 15px;
}
.tooltip-container {
  display: none;
}
.tooltip-block {
  position: relative;
  font-size: 10px;
  border-radius: 10px;
  overflow: hidden;
  max-width: 250px;
  min-width: 200px;
  color: #494949;
  &__close {
    width: 28px;
    height: 28px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    outline: none;
    border: 0;
    background: transparent;
    padding: 0;
    &:before,
    &:after {
      content: '';
      display: block;
      width: 12px;
      height: 2px;
      background: #C4C4C4;
      position: absolute;
      left: 50%;
      top: 50%;
      transition: 0.3s;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:hover {
      &:before,
      &:after {
        background-color: #636363;
      }
    }
  }
  &__photo {
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 100%;
    position: relative;
    flex-shrink: 0;
    background-color: #C4C4C4;
    img {
      display: block;
      width: 100%;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
  }
  &__container {
    padding: 20px;
    &_type2 {
      display: flex;
      align-items: flex-start;
      max-width: 270px;
      .tooltip-block__text-container {
        padding: 4px 0 0 7px;
      }
    }
  }
  p {
    margin: 0;
    line-height: 1.5em;
  }
  &__title {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 3px;
  }
}

.title {
  font-weight: bold;
  &_style1 {
    font-family: 'Roboto Condensed';
    font-size: 26px;
    margin: 0 0 0.5em 0;
  }
  &_style2 {
    font-family: 'Open Sans';
    font-size: 14px;
    margin: 0 0 0.5em 0;
  }
}
.inline-link {
  transition: 0.1s;
  text-decoration: none;
  position: relative;
  outline: none;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    display: none;
    left: 0;
    transition: 0.1s;
  }
  &_style1 {
    color: #587dd8;
    &:after {
      border-color: #587dd8;
    }
    &:hover {
      color: #304d94;
    }
  }
  &_style2 {
    color: #fff;
    &:after {
      border-color: #fff;
    }
    &:hover {
      color: #c9c9c9;
    }
  }
  &_style3 {
    color: #494949;
    &:after {
      border-color: #494949;
    }
    &:hover {
      color: #000;
    }
  }
  &:hover {
    &:after {
      opacity: 0;
    }
  }
}
.solid {
  &:after {
    border-bottom: 1px solid;
    display: block;
  }
}
.dashed {
  &:after {
    border-bottom: 1px dashed;
    display: block;
  }
}
.banner {
  flex-shrink: 0;
  &_style1 {
    .banner {
        &__container {
          position: relative;
          z-index: 2;
        }
        &__link {
          display: block;
          padding: 22px;
          text-decoration: none;
          transition: 0.3s;
          border-radius: 5px;
          overflow: hidden;
          background:#00247D;
          background-size: cover;
          color: #fff;
          position: relative;
          &:hover {
            opacity: 0.9;
          }
          &:before {
            content: '';
            display: block;
            background: url('../img/backgrounds/bg-banner1.jpg') no-repeat center center;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-size: cover;
            opacity: 0.6;
          }
        }
        &__title {
          display: block;
          text-align: center;
          font-family: 'Roboto Condensed';
          font-weight: bold;
          font-size: 24px;
        }
        &__sub-title {
          display: block;
          text-align: center;
          font-style: italic;
        }
        &__image {
          height: 47px;
          width: auto;
          margin-bottom: 5px;
        }
        &__content {
          padding: 12px 30px 15px 30px;
          margin-top: 12px;
          background: rgba(0, 12, 78, 0.5);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          border-radius: 3px;
        }
        &__list {
          list-style: none;
          padding: 0;
          margin: 0;
        }
        &__item {
          display: flex;
          padding-left: 31px;
          position: relative;
          &:not(:last-child) {
            margin-bottom: 5px;
          }
          .icon {
            position: absolute;
            width: 18px;
            height: 18px;
            left: 0;
          }
        }
      }
  }
  &_style2 {
    background:#00247D;
    padding: 28px 47px 36px 47px;
    position: relative;
    color: #fff;
    margin: 30px 0 20px;
    border-radius: 5px;
    overflow: hidden;
    &:before {
      content: '';
      display: block;
      background: url('../img/backgrounds/bg-banner1.jpg') no-repeat center center;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-size: cover;
      opacity: 0.6;
    }
    .banner {
      &__container {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
      }
      &__title {
        line-height: 1.1em;
        font-size: 42px;
        font-weight: bold;
        display: block;
        padding-bottom: 5px;
      }
      &__sub-title {
        font-size: 12px;
        a {
          margin-left: 1px;
        }
      }
      &__image {
        height: 60px;
        width: auto;
        margin-bottom: 22px;
      }
      .button {
        padding: 10px 34px;
      }
    }
  }
}

.table {
  color: #000;
  border-collapse: collapse;
  box-shadow: 0px 2px 6px 0px rgba(217,217,217,1);
  &__row {
    transition: 0.3s;
    &:hover {
      td {
        background-color: #f1f1f1;
      }
    }
    &_head {
      td {
        background: #00247D !important;
        border: 0 !important;
        &:first-child {
          border-radius: 5px 0 0px 0px;
        }
        &:last-child {
          border-radius: 0 5px 0px 0px;
        }
      }
    }
  }
  &__col {
    background-color: #fff;
    border: 1px solid rgba(0, 36, 125, 0.05);
    padding: 20px;
    transition: 0.3s;
    &_title {
      color: #fff;
      text-transform: uppercase;
      font-family: 'Roboto Condensed';
      font-weight: bold;
      padding: 15px 20px;
      text-align: center;
      white-space: nowrap;
    }
  }
  &__block {
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    &:last-child {
      margin-bottom: 0;
    }
    .table__col {
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &:hover {
      .table__flex {
        background-color: #f1f1f1;
      }
    }
  }
  &__flex {
    display: flex;
    background-color: #fff;
    transition: 0.3s;
  }
}
.col-text {
  font-size: 10px;
}
.col-bet {
  &__label {
    color: #494949;
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 1.25em;
    font-style: italic;
    padding-bottom: 8px;
  }
  .button {
    padding: 10px 32px;
  }
}
.col-rank {
  &__container {
    display: flex;
    justify-content: flex-start;
  }
  &__order {
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 26px;
    padding-right: 8px;
  }
  &__value {
    display: flex;
    align-items: center;
    .icon {
      width: 8px;
      height: 8px;
      margin-right: 3px;
    }
    span {
      color: #9C9C9C;
    }
    &_down {
      span {
        color: #CF142B;
      }
    }
    &_up {
      span {
        color: #009B2B;
      }
    }
  }
}
.col-rating {
  padding: 15px 20px;
  &__container {
    width: 100%;
  }
  &__content {
    display: flex;
    align-items: center;
    padding: 5px 0;
  }
  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    padding: 5px 0;
    p {
      margin: 0;
      font-size: 12px;
    }
  }
  &__link {
    padding: 5px 15px 5px 0;
    width: 140px;
    a {
      text-decoration: none;
      display: inline-block;
      max-height: 26px;
    }
    img {
      display: block;
      width: auto;
      height: auto;
      max-height: 26px;
      max-width: 115px;
    }
  }
  &__value {
    margin-right: 4px;
    color: #9c9c9c;
    font-size: 12px;
    white-space: nowrap;
    span {
      color: #2A2A2A;
      font-size: 18px;
      font-weight: bold;
      font-family: 'Roboto Condensed';
      display: inline-block;
      margin-right: -0.01em;
    }
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 18px;
    display: flex;
  }
  &__item {
    display: block;
    width: 18px;
    height: 18px;
    .icon {
      width: 100%;
      height: 100%;
    }
  }
}
.col-features {
  justify-content: flex-start;
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    position: relative;
    padding-left: 21px;
    font-size: 12px;
    &:not(:last-child) {
      padding-bottom: 10px;
    }
    .icon {
      position: absolute;
      left: 0;
      top: 0;
      width: 16px;
      height: 16px;
    }
  }
}
.col-sign-up-bonus {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    justify-content: center;
    height: 100%;
  }
  &__label {
    font-size: 12px;
    color: #494949;
  }
  &__link,
  &__nooffer {
    padding: 4px;
    font-size: 20px;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
  }
  &__link {
    color: #00247D;
    &:hover {
      color: #0033b4;
    }
  }
  &__nooffer {
    color: #9C9C9C;
  }

}
.col-claim-bonus {
  &__container {
    width: 100%;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  .button {
    padding: 10px 30px;
    margin: 17px 0 3px 0;
  }
  .inline-link {
    margin-bottom: 2px;
  }
  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }
  &__link {
    font-size: 10px;
  }
}

@media screen and(max-width: 1200px) {
  .table {
    &__col {
      padding: 15px;
    }
  }
  .col-claim-bonus {
    &__content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
    &__section {
      padding: 0;
      width: 100%;
    }
    .button {
      margin: 5px 0;
      width: 100%;
    }
    .inline-link {
      margin: 0;
    }
  }
}
@media screen and(max-width: 992px) {
  .main_width-aside .container {
    flex-wrap: wrap;
  }
  .main__container {
    padding-right: 0;
  }
  .text-block p {
    padding-right: 0;
  }
}
@media screen and(max-width: 768px) {
  .table {
    &__col {
      padding: 10px;
    }
  }
  .up {
    &__container {
      width: 90px;
      height: 90px;
      padding: 10px;
    }
  }
}
@media screen and(max-width: 576px) {
  .title_style1 {
    font-size: 22px;
  }
  .up {
    right: 30px;
    bottom: 30px;
    &__container {
      width: 50px;
      height: 50px;
      font-size: 0;
    }
  }
}
@media screen and(max-width: 375px) {
  .cookies-message {
    &__container {
      display: block;
    }
    &__text {
      padding: 0 0 10px 0;
      display: block;
      text-align: center;
    }
    &__button {
      display: block;
      width: 100%;
    }
  }
}

@import "./partials/normalize";
@import "./partials/header";
@import "./partials/mobile-nav";
@import "./partials/hot-offers";
@import "./partials/join";
@import "./partials/footer";


