doctype html
html(lang="ru")
  head
    include blocks/head
    link(rel="stylesheet" href="styles/blog.min.css")
  body.body
    .wrapper
      header.header.header_style2
        include blocks/header
      include blocks/mobile-nav
      main.main
        include blocks/hot-offers-block
        include blocks/breadcrumbs
        +breadcrumb('Blog')
        .main.main_width-aside
          .container
            .main__container
              include blocks/article-block
              .news.block-page
                .news__head
                  h4.title.title_style1 Similar articles
                .news__container
                  include blocks/news
                  +article('Webis Holdings granted California betting license extension')(data-src='img/news/news2.jpg')
                  +article('Golden Nugget launches online sportsbook in New Jersey')(data-src='img/news/news3.jpg')
                  +article('GambleAware launches new Bet Regret campaign.')(data-src='img/news/news4.jpg')
            aside.aside
              .aside__container
                include blocks/aside-news-nav
                include blocks/top-sports-book
                include blocks/newest-reviews
                include blocks/sign-up-offers
                include blocks/aside-news
        include blocks/join
      include blocks/footer
      //tooltips
      include blocks/tooltips
      //cookies
      include blocks/cookies
      //up-button
      include blocks/up
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")            
    script(src="js/common.min.js")