doctype html
html(lang="ru")
  head
    include blocks/head
    link(rel="stylesheet" href="styles/bookmaker.min.css")
  body.body
    .wrapper.bookmaker
      header.header.header_style2
        include blocks/header
      include blocks/mobile-nav
      main.main
        include blocks/hot-offers-block
        include blocks/breadcrumbs
        include blocks/bookmaker-head
        .main.main_width-aside
          .container
            .main__container
              .main__content
                h4.title.title_style1 Betway Sports Review
                p Which online bookmaker is the best? Most people ask this question, especially when they find the many types of established bookmakers in the market. In this section, we show you the factors to consider if you want to find the best bookmaker to invest in.
                h4.title.title_style1(id='item1') Sports Markets and Betting Types
                p Which online bookmaker is the best? Most people ask this question, especially when they find the many types of established bookmakers in the market. In this section, we show you the factors to consider if you want to find the best bookmaker to invest in.
                h4.title.title_style3 Multiples Bets
                p Betting odds offered by the best online maker should in most cases exceed the 95 percent limit on particular matches. As such, when trying to get the right match to stake on, the odds should only experience minimum changes. Moreover, opinionated lines exist to prove there is a compiling service for every odd offered and it is not just copied from another online bookmaker or influenced by the market activity.
                h4.title.title_style3 Betting Limits
                p Betting odds offered by the best online maker should in most cases exceed the 95 percent limit on particular matches. As such, when trying to get the right match to stake on, the odds should only experience minimum changes. Moreover, opinionated lines exist to prove there is a compiling service for every odd offered and it is not just copied from another online bookmaker or influenced by the market activity.
                h4.title.title_style1(id='item2') In-play Betting & Live Streaming 
                p Which online bookmaker is the best? Most people ask this question, especially when they find the many types of established bookmakers in the market. In this section, we show you the factors to consider if you want to find the best bookmaker to invest in.
                .sport-markets
                  .sport-markets__head The most Popular Sports markets at betway
                  .sport-markets__container
                    .sport-markets__block
                      .sport-markets__block-container
                        .sport-markets__image
                          img(data-src="img/news/news1.jpg", alt="").lazy
                        span.sport-markets__label Football
                        ul.sport-markets__list
                          li.sport-markets__item UEFA Champion League
                          li.sport-markets__item English Premier  League
                          li.sport-markets__item Bundesliga
                          li.sport-markets__item La Liga
                          li.sport-markets__item S-League (SGP)
                          li.sport-markets__item A PFG (BGR)
                    .sport-markets__block
                      .sport-markets__block-container
                        .sport-markets__image
                          img(data-src="img/news/news1.jpg", alt="").lazy
                        span.sport-markets__label Horse racing
                        ul.sport-markets__list
                          li.sport-markets__item The Cheltenham Festival
                          li.sport-markets__item Blue Square Winter Derby
                          li.sport-markets__item Aintree Grand National
                          li.sport-markets__item Scottish Grand National
                          li.sport-markets__item Craven Meeting
                          li.sport-markets__item Bet365 Gold Cup Celebration
                    .sport-markets__block
                      .sport-markets__block-container
                        .sport-markets__image
                          img(data-src="img/news/news1.jpg", alt="").lazy
                        span.sport-markets__label Tennis
                        ul.sport-markets__list
                          li.sport-markets__item AAMI Classic
                          li.sport-markets__item Masters France
                          li.sport-markets__item Power Horse World Team Cup
                          li.sport-markets__item AAMI Classic
                          li.sport-markets__item Masters France
                          li.sport-markets__item Power Horse World Team Cup
                    .sport-markets__block
                      .sport-markets__block-container
                        .sport-markets__image
                          img(data-src="img/news/news1.jpg", alt="").lazy
                        span.sport-markets__label E-sports
                        ul.sport-markets__list
                          li.sport-markets__item League of Legends
                          li.sport-markets__item Hearthstone
                          li.sport-markets__item Dota 2
                          li.sport-markets__item CS: GO
                          li.sport-markets__item World of Tanks
                          li.sport-markets__item Herose of the Storm
                    .sport-markets__block
                      .sport-markets__block-container
                        .sport-markets__image
                          img(data-src="img/news/news1.jpg", alt="").lazy
                        span.sport-markets__label Basketball
                        ul.sport-markets__list
                          li.sport-markets__item FIBA Women’s World Championship
                          li.sport-markets__item British Basketball League
                          li.sport-markets__item FIBA World Cup
                          li.sport-markets__item FIBA Intercontinental Cup
                          li.sport-markets__item UEFA Champion League
                h4.title.title_style1(id='item3') Competitive sports betting odds
                p Which online bookmaker is the best? Most people ask this question, especially when they find the many types of established bookmakers in the market. In this section, we show you the factors to consider if you want to find the best bookmaker to invest in.
                table.table.table-rank
                  tr.table__row.table__row_head
                    td.table__col.table__col_title(colspan='3') Betway Best Odds Rank By Sport
                  tr.table__row
                    td.table__col Sports
                    td.table__col Rank
                    td.table__col Percentage
                  tr.table__row
                    td.table__col.col-sport
                      .col-sport__container
                        svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico47"></use>
                        span Football
                    td.table__col 1st
                    td.table__col.col-percentage
                      .col-percentage__container
                        .col-percentage__scale(data-val='50')
                  tr.table__row
                    td.table__col.col-sport
                      .col-sport__container
                        svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico24"></use>
                        span Snooker
                    td.table__col 1st
                    td.table__col.col-percentage
                      .col-percentage__container
                        .col-percentage__scale(data-val='47.6')
                  tr.table__row
                    td.table__col.col-sport
                      .col-sport__container
                        svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico48"></use>
                        span Tennis
                    td.table__col 1st
                    td.table__col.col-percentage
                      .col-percentage__container
                        .col-percentage__scale(data-val='47.5')
                  tr.table__row
                    td.table__col.col-sport
                      .col-sport__container
                        svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico9"></use>
                        span Rugby
                    td.table__col 1st
                    td.table__col.col-percentage
                      .col-percentage__container
                        .col-percentage__scale(data-val='44.1')
                  tr.table__row
                    td.table__col.col-sport
                      .col-sport__container
                        svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico10"></use>
                        span Darts
                    td.table__col 1st
                    td.table__col.col-percentage
                      .col-percentage__container
                        .col-percentage__scale(data-val='54.4')
                  tr.table__row
                    td.table__col.col-sport
                      .col-sport__container
                        svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico52"></use>
                        span Horse Racing
                    td.table__col 1st
                    td.table__col.col-percentage
                      .col-percentage__container
                        .col-percentage__scale(data-val='24.5')
                  tr.table__row
                    td.table__col.col-sport
                      .col-sport__container
                        svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico49"></use>
                        span Boxing
                    td.table__col 1st
                    td.table__col.col-percentage
                      .col-percentage__container
                        .col-percentage__scale(data-val='35.0')
                h4.title.title_style1(id='item4') Betway Online Platform
                p Which online bookmaker is the best? Most people ask this question, especially when they find the many types of established bookmakers in the market. In this section, we show you the factors to consider if you want to find the best bookmaker to invest in.
                h4.title.title_style3 How to Place a Bet
                p Betting odds offered by the best online maker should in most cases exceed the 95 percent limit on particular matches. As such, when trying to get the right match to stake on, the odds should only experience minimum changes. Moreover, opinionated lines exist to prove there is a compiling service for every odd offered and it is not just copied from another online bookmaker or influenced by the market activity.
                .how-to-bet
                  .how-to-bet__container
                    .how-to-bet-block
                      .how-to-bet-block__container
                        span.how-to-bet-block__title Step 1
                        .how-to-bet-block__image
                          img(data-src="img/howtobet/image1.jpg", alt="").lazy
                        .how-to-bet-block__text-container
                          span.how-to-bet-block__sub-title Choose your BET
                          p.how-to-bet-block__text Select your desired bet by clicking on the odds buttons to a given betting market. To add more bets, simply repeat the process.
                    .how-to-bet-block
                      .how-to-bet-block__container
                        span.how-to-bet-block__title Step 2
                        .how-to-bet-block__image
                          img(data-src="img/howtobet/image2.jpg", alt="").lazy
                        .how-to-bet-block__text-container
                          span.how-to-bet-block__sub-title lay Your stake
                          p.how-to-bet-block__text Select your desired bet by clicking on the odds buttons to a given betting market. To add more bets, simply repeat the process.
                    .how-to-bet-block
                      .how-to-bet-block__container
                        span.how-to-bet-block__title Step 3
                        .how-to-bet-block__image
                          img(data-src="img/howtobet/image3.jpg", alt="").lazy
                        .how-to-bet-block__text-container
                          span.how-to-bet-block__sub-title Confirm On Your Bet Slip
                          p.how-to-bet-block__text Select your desired bet by clicking on the odds buttons to a given betting market. To add more bets, simply repeat the process.
                h4.title.title_style1(id='item5') Betway Mobile Review
                .text-width-banner
                  .text-width-banner__container
                    p Which online bookmaker is the best? Most people ask this question, especially when they find the many types of established bookmakers in the market. In this section, we show you the factors to consider if you want to find the best bookmaker to invest in.
                    h4.title.title_style3 IOS leading the way with the Bet 365 mobile app
                    p Betting odds offered by the best online maker should in most cases exceed the 95 percent limit on particular matches. As such, when trying to get the right match to stake on, the odds should only experience minimum changes. Moreover, opinionated lines exist to prove there is a compiling service for every odd offered and it is not just copied from another online bookmaker or influenced by the market activity.
                  .banner.banner_style6
                    .banner__container
                      span.banner__title Bet365 Mobile Offering
                      ul.banner__list
                        li.banner__item
                          a(href="#").banner__link.banner__link_ios
                          .banner__rating
                            svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
                            span.banner__rating-value
                              span 9.8
                              | /10
                        li.banner__item
                          a(href="#").banner__link.banner__link_android
                          .banner__rating
                            svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
                            span.banner__rating-value
                              span 9.8
                              | /10
                        li.banner__item
                          a(href="#").banner__link.banner__link_microsoft
                          .banner__rating
                            svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
                            span.banner__rating-value
                              span 9.8
                              | /10
                h4.title.title_style3 Live Streaming On Mobile
                p Betting odds offered by the best online maker should in most cases exceed the 95 percent limit on particular matches. As such, when trying to get the right match to stake on, the odds should only experience minimum changes. Moreover, opinionated lines exist to prove there is a compiling service for every odd offered and it is not just copied from another online bookmaker or influenced by the market activity.
                a(href="#").banner.banner_style7
                  .banner__background.lazy(data-src='img/backgrounds/bg-banner2.jpg')
                  .banner__container
                    span.banner__title Best Betting Apps <br> for Gambling on the Go
                .banner.banner_style8
                  .banner__container
                    .banner__image
                      img(data-src="img/Bookies/ff5e94874f1e99b3d906f04bfcaa8bb4.png", alt="").lazy
                    .banner__content
                      span.banner__title One of the easiest and best featured mobile apps for betting
                      a(href="#").button.button_style1.banner__button Bet Now
                h4.title.title_style1 General Sportsbook Information
                p Which online bookmaker is the best? Most people ask this question, especially when they find the many types of established bookmakers in the market. In this section, we show you the factors to consider if you want to find the best bookmaker to invest in.
                include blocks/info-table
                h4.title.title_style3(id='item6') Payment methods
                p Betting odds offered by the best online maker should in most cases exceed the 95 percent limit on particular matches. As such, when trying to get the right match to stake on, the odds should only experience minimum changes. Moreover, opinionated lines exist to prove there is a compiling service for every odd offered and it is not just copied from another online bookmaker or influenced by the market activity.
                h4.title.title_style3(id='item7') Licensing & Security
                p Betting odds offered by the best online maker should in most cases exceed the 95 percent limit on particular matches. As such, when trying to get the right match to stake on, the odds should only experience minimum changes. Moreover, opinionated lines exist to prove there is a compiling service for every odd offered and it is not just copied from another online bookmaker or influenced by the market activity.
                h4.title.title_style3(id='item8') Customer Support
                p Betting odds offered by the best online maker should in most cases exceed the 95 percent limit on particular matches. As such, when trying to get the right match to stake on, the odds should only experience minimum changes. Moreover, opinionated lines exist to prove there is a compiling service for every odd offered and it is not just copied from another online bookmaker or influenced by the market activity.
                h4.title.title_style3(id='item9') Bonus Program
                p Betting odds offered by the best online maker should in most cases exceed the 95 percent limit on particular matches. As such, when trying to get the right match to stake on, the odds should only experience minimum changes. Moreover, opinionated lines exist to prove there is a compiling service for every odd offered and it is not just copied from another online bookmaker or influenced by the market activity.
                h4.title.title_style1(id='item10') Conclusion
                p Which online bookmaker is the best? Most people ask this question, especially when they find the many types of established bookmakers in the market. In this section, we show you the factors to consider if you want to find the best bookmaker to invest in.
                .totals
                  .totals__container
                    .totals-block
                      .totals-block__container
                        span.totals-block__title Strengths and Weakness of Betway
                        table.totals-block__table
                          tr.totals-block__row
                            td.totals-block__col
                              span.totals-block__list-title.totals-block__list-title_style1 Major Strengths
                              ul.totals-block__list
                                li.totals-block__item
                                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico19"></use>
                                  span over 30.000 betting markets
                                li.totals-block__item
                                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico19"></use>
                                  span easy use, high power platform
                                li.totals-block__item
                                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico19"></use>
                                  span best e-sports betting portal
                            td.totals-block__col
                              span.totals-block__list-title.totals-block__list-title_style1 Minor Strengths
                              ul.totals-block__list
                                li.totals-block__item
                                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico19"></use>
                                  span top quality customer service
                          tr.totals-block__row
                            td.totals-block__col
                              span.totals-block__list-title.totals-block__list-title_style2 Minor Weaknesses
                              ul.totals-block__list
                                li.totals-block__item
                                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico-minus"></use>
                                  span non
                            td.totals-block__col
                              span.totals-block__list-title.totals-block__list-title_style2 Major Weaknesses
                              ul.totals-block__list
                                li.totals-block__item
                                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico-minus"></use>
                                  span limited live stream service
                                li.totals-block__item
                                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico-minus"></use>
                                  span only a small selection of greyhound races availabel
                    .totals__banner
                      .banner.banner_style9
                        .banner__container
                          .banner__image
                            img(data-src="img/Bookies/ff5e94874f1e99b3d906f04bfcaa8bb4.png", alt="").lazy
                          .banner__content
                            span.banner__text Welcome Bonus
                            span.banner__value £100
                            a(href="#").button.button_style1.banner__button Bet Now
            aside.aside
              .aside__container
                include blocks/overall-rating
                .float-stop
                  include blocks/betway-revievs
          .container
            .main__container.main__container-widhout-aside
              .main__content
                include blocks/feedback
              .main__content
                include blocks/qa
              include blocks/other-reviews
        include blocks/join
      include blocks/footer
      //tooltips
      include blocks/tooltips
      //cookies
      include blocks/cookies
      //up-button
      include blocks/up
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")
    script(src="js/bookmaker.min.js")