doctype html
html(lang="ru")
  head
    link(rel="stylesheet" href="styles/main.min.css")
    include blocks/head
  body.body
    .wrapper
      include blocks/header
      include blocks/mobile-nav
      main.main
        include blocks/home
        include blocks/about
        include blocks/best-bookmakers
      include blocks/footer
      //tooltips
      include blocks/tooltips
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")
    script(src="js/main.min.js")