doctype html
html(lang="ru")
  head
    include blocks/head
    link(rel="stylesheet" href="styles/main.min.css")
  body.body
    .wrapper
      include blocks/header
      include blocks/mobile-nav
      main.main
        include blocks/home
        include blocks/about
        include blocks/best-bookmakers
        .main.main_width-aside
          .container
            .main__container
              include blocks/about-rating
              .title.title_style1 New Online Bookmakers
              include blocks/bookmakers
              .title.title_style1 Other Reliable Online Bookmakers
              include blocks/bookmakers 
              include blocks/guide
            aside.aside
              .aside__container
                include blocks/best-bookie
        include blocks/join
      include blocks/footer
      //tooltips
      include blocks/tooltips
      //cookies
      include blocks/cookies
      //up-button
      include blocks/up
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")
    script(src="js/main.min.js")