.about
  .container
    .about__container
      .about__section
        h3.title.title_style1 Online Bookmakers – Find the Top UK Bookies 
        p.about__text With the many bookmakers trying to lure you with exaggerated remarks to sign-up with them, finding the best online bookmaker that is legitimate can be a challenge. Lack of important information about a bookmaker might also mean that you could end up signing up with an illegitimate betting site that will take your money without delivering on its promise. In this online bookmakers review, however, we show you how to find the most trustworthy and safe bookmakers for online sports betting where you can invest your money.
        p.about__text We understand that finding 
          a(href="").solid.inline-link.inline-link_style1 the best online betting site
          |  is not that easy. As a result, we have taken upon ourselves to compile this detailed review of the most trustworthy and safest betting sites. Read this post through and see what separates a top-rated betting site from an illegitimate one.
      .banner.banner_style1
        a(href="#" target="_blank" rel="nofollow").banner__link
          .banner__container
            span.banner__title No.1 Ranked Betting Site
            span.banner__sub-title Available in United Kingdom
            .banner__content
              img(src="img/offers/offer5.png", alt="").banner__image
              ul.banner__list
                li.banner__item
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico33"></use>
                  | Strong range of sports
                li.banner__item
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico33"></use>
                  | The most betting options
                li.banner__item
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico33"></use>
                  | Good European coverage


      