.also-recommend.aside-block
  .also-recommend__container
    h4.title.title_style1 Also recommend
    ul.also-recommend__list
      li.also-recommend__item
        a(href="#").inline-link.inline-link_style4.also-recommend__link Existing Customer (10)
      li.also-recommend__item
        a(href="#").inline-link.inline-link_style4.also-recommend__link Reload Offers (9)
      li.also-recommend__item
        a(href="#").inline-link.inline-link_style4.also-recommend__link Free Bets (15)
      li.also-recommend__item 
        a(href="#").inline-link.inline-link_style4.also-recommend__link No Deposit (44)
      li.also-recommend__item
        a(href="#").inline-link.inline-link_style4.also-recommend__link Mobile App Offers (5)