.aside-news-nav.aside-block
  .aside-news-nav__container
    h4.title.title_style1 Menu
    .aside-news-nav__content.row
      .aside-news-nav-block.col
        a(href="#").aside-news-nav-block__title-link.inline-link.inline-link_style4.solid Betting News & Analytics
        ul.aside-news-nav-block__list
          li.aside-news-nav-block__item
            a(href="#").aside-news-nav-block__link.inline-link.inline-link_style4 Betting News
          li.aside-news-nav-block__item
            a(href="#").aside-news-nav-block__link.inline-link.inline-link_style4 Analytics
          li.aside-news-nav-block__item
            a(href="#").aside-news-nav-block__link.inline-link.inline-link_style4 Betting News 
          li.aside-news-nav-block__item
            a(href="#").aside-news-nav-block__link.inline-link.inline-link_style4 Analytics
      .aside-news-nav-block.col
        a(href="#").aside-news-nav-block__title-link.inline-link.inline-link_style4.solid Betting Strategy
        ul.aside-news-nav-block__list
          li.aside-news-nav-block__item
            a(href="#").aside-news-nav-block__link.inline-link.inline-link_style4 Betting News
          li.aside-news-nav-block__item
            a(href="#").aside-news-nav-block__link.inline-link.inline-link_style4 Analytics
          li.aside-news-nav-block__item
            a(href="#").aside-news-nav-block__link.inline-link.inline-link_style4 Betting News 
          li.aside-news-nav-block__item
            a(href="#").aside-news-nav-block__link.inline-link.inline-link_style4 Analytics
      .aside-news-nav-block.col
        a(href="#").aside-news-nav-block__title-link.inline-link.inline-link_style4.solid Betting News & Analytics
        ul.aside-news-nav-block__list
          li.aside-news-nav-block__item
            a(href="#").aside-news-nav-block__link.inline-link.inline-link_style4 Betting News
          li.aside-news-nav-block__item
            a(href="#").aside-news-nav-block__link.inline-link.inline-link_style4 Analytics
          li.aside-news-nav-block__item
            a(href="#").aside-news-nav-block__link.inline-link.inline-link_style4 Betting News 
          li.aside-news-nav-block__item
            a(href="#").aside-news-nav-block__link.inline-link.inline-link_style4 Analytics
      .aside-news-nav-block.col
        a(href="#").aside-news-nav-block__title-link.inline-link.inline-link_style4.solid Betting Strategy
        ul.aside-news-nav-block__list
          li.aside-news-nav-block__item
            a(href="#").aside-news-nav-block__link.inline-link.inline-link_style4 Betting News
          li.aside-news-nav-block__item
            a(href="#").aside-news-nav-block__link.inline-link.inline-link_style4 Analytics
          li.aside-news-nav-block__item
            a(href="#").aside-news-nav-block__link.inline-link.inline-link_style4 Betting News 
          li.aside-news-nav-block__item
            a(href="#").aside-news-nav-block__link.inline-link.inline-link_style4 Analytics
      .aside-news-nav-block.col
        a(href="#").aside-news-nav-block__title-link.inline-link.inline-link_style4.solid Betting News & Analytics
        ul.aside-news-nav-block__list
          li.aside-news-nav-block__item
            a(href="#").aside-news-nav-block__link.inline-link.inline-link_style4 Betting News
          li.aside-news-nav-block__item
            a(href="#").aside-news-nav-block__link.inline-link.inline-link_style4 Analytics
          li.aside-news-nav-block__item
            a(href="#").aside-news-nav-block__link.inline-link.inline-link_style4 Betting News 
          li.aside-news-nav-block__item
            a(href="#").aside-news-nav-block__link.inline-link.inline-link_style4 Analytics

