.aside-nav.aside-block
  .aside-nav__container
    h4.title.title_style1 Menu
    ul.aside-nav__list
      li.aside-nav__item
        a(href="#").inline-link.inline-link_style4.aside-nav__link
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico-star"></use>
          | Bookmaker Special Bonus List Special Bonus List
      li.aside-nav__item
        a(href="#").inline-link.inline-link_style4.aside-nav__link
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico-star"></use>
          | Bookies Without Betting Limits
      li.aside-nav__item
        a(href="#").inline-link.inline-link_style4.aside-nav__link
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico-star"></use>
          | Best Free Bets Offers
      li.aside-nav__item
        a(href="#").inline-link.inline-link_style4.aside-nav__link
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico-star"></use>
          | Best Online Betting Sites Offers
      li.aside-nav__item
        a(href="#").inline-link.inline-link_style4.aside-nav__link
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico-star"></use>
          | Free Sign-Up Bets
      li.aside-nav__item
        a(href="#").inline-link.inline-link_style4.aside-nav__link
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico-star"></use>
          | Online Bookmaker Promotions
      li.aside-nav__item
        a(href="#").inline-link.inline-link_style4.aside-nav__link
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico-star"></use>
          | New Customer Offers