.best-bookie.aside-block
  h4.title.title_style1 Best Bookie Sites
  .best-bookie__container.row
    .best-bookie-block.col
      a(href="#").best-bookie-block__container.hover_style1
        .best-bookie-block__background.lazy(data-src='img/backgrounds/bg1.jpg')
        .best-bookie-block__content
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico3"></use>
          span.best-bookie-block__title Best Odds Bookmakers
    .best-bookie-block.col
      a(href="#").best-bookie-block__container.hover_style1
        .best-bookie-block__background.lazy(data-src='img/backgrounds/bg2.jpg')
        .best-bookie-block__content
          .icon
            img(src="img/icons/1.png", alt="")
          span.best-bookie-block__title Football Betting Sites
    .best-bookie-block.col
      a(href="#").best-bookie-block__container.hover_style1
        .best-bookie-block__background.lazy(data-src='img/backgrounds/bg3.jpg')
        .best-bookie-block__content
          .icon
            img(src="img/icons/2.png", alt="")
          span.best-bookie-block__title Horse Racing Betting Sites
    .best-bookie-block.col
      a(href="#").best-bookie-block__container.hover_style1
        .best-bookie-block__background.lazy(data-src='img/backgrounds/bg4.jpg')
        .best-bookie-block__content
          .icon
            img(src="img/icons/3.png", alt="")
          span.best-bookie-block__title CS:GO Gambling Sites