mixin rating()
  ul.col-rating__list
    li.col-rating__item
      svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
    li.col-rating__item
      svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
    li.col-rating__item
      svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
    li.col-rating__item
      svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
    li.col-rating__item
      svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
    li.col-rating__item
      svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
    li.col-rating__item
      svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
    li.col-rating__item
      svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
    li.col-rating__item
      svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico26"></use>
    li.col-rating__item
      svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico25"></use>
.best-bookmakers
  .container
    .best-bookmakers__container
      h3.title.title_style1 Best UK Online Bookmakers
      .best-bookmakers__head
        ul.best-bookmakers__label-list
          li.best-bookmakers__label-item.best-bookmakers__label-item_1
            svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico36"></use>
            | Licensed
          li.best-bookmakers__label-item.best-bookmakers__label-item_2
            svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico35"></use>
            | Secure
          li.best-bookmakers__label-item.best-bookmakers__label-item_3
            svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico17"></use>
            | Reviewed by  
            a(href="#" data-tooltip-content="#tooltip-block_expert").tooltip.inline-link Expert
        ul.best-bookmakers__label-list
          li.best-bookmakers__label-item.best-bookmakers__label-item_4
            svg.icon <use xlink:href="img/icons/icon-sprite.svg#exclamation"></use>
            a(href="#" data-tooltip-content="#tooltip-block_advertiser").tooltip.inline-link Advertiser Disclosure
      .table
        .table__row.table__row_head
          .table__col.table__col_title RANK
          .table__col.table__col_title BOOKIES RATING
          .table__col.table__col_title KEY FEATURES
          .table__col.table__col_title SIGN-UP BONUS
          .table__col.table__col_title CLAIM BONUS
        .table__row
          .table__col.col-rank
            span.col-rank__order 1
            .col-rank__value
              svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico21"></use>
              span 0
          .table__col.col-rating
            .col-rating__container
              .col-rating__section
                .col-rating__link
                  a(href="#" rel="nofollow" target="_blank")
                    img(src="img/Bookies/image1.png", alt="")
                .col-rating__content
                  span.col-rating__value 
                    span 9.8 
                    | /10
                  +rating()
              .col-rating__text
                p Pinnacle is well-known for offering the best value odds. It's a must-have for bettors who like to wager big amounts of cash.
          .table__col.col-features
            ul.col-features__list
              li.col-features__item
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico54"></use>
                | No limit for maximum winnings per bet
              li.col-features__item
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico54"></use>
                | No stake limits
              li.col-features__item
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico54"></use>
                | Best value odds – smallest margins
          .table__col.col-sign-up-bonus
            a(href="#" rel="nofollow" target="_blank").col-sign-up-bonus__link Cashback
          .table__col.col-claim-bonus
            .col-claim-bonus__container
              .col-claim-bonus__content
                .col-claim-bonus__section
                  a(href="#").inline-link Review
                .col-claim-bonus__section
                  a(href="#" rel="nofollow" target="_blank").button.button_style1 Bet Now
                  a(href="#" data-tooltip-content="#tooltip-block_advertiser").tooltip.col-claim-bonus__link T&Cs Apply

                  

            