.betway-revievs.aside-block
  .betway-revievs__container
    h5.title.title_style1 More Betway Reviews
    ul.betway-revievs__list
      li.betway-revievs__item
        a(href="#").betway-revievs__link
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#arrow-right"></use>
          span.betway-revievs__link-title The Welcome Bonuse
          span.betway-revievs__link-text and payment methods
      li.betway-revievs__item
        a(href="#").betway-revievs__link
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#arrow-right"></use>
          span.betway-revievs__link-title In-play Betting
          span.betway-revievs__link-text and live-streaming
      li.betway-revievs__item
        a(href="#").betway-revievs__link
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#arrow-right"></use>
          span.betway-revievs__link-title Mobile App
          span.betway-revievs__link-text and compatibility
      li.betway-revievs__item
        a(href="#").betway-revievs__link
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#arrow-right"></use>
          span.betway-revievs__link-title Terms & Conditions
          span.betway-revievs__link-text and further information

