.bookmaker-head.block-page
  .container
    .bookmaker-head__container
      .bookmaker-head__section
        .bookmaker-head__image
          img(src="img/Bookies/ff5e94874f1e99b3d906f04bfcaa8bb4.png", alt="")
        .bookmaker-head__info
          h5.bookmaker-head__title bet365
          .bookmaker-head__rating
            svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
            span.bookmaker-head__rating-value 
              span 9.8
              | /10
            a(href="#").bookmaker-head__link.inline-link.inline-link_style2.solid No.2 Betting Site
          table.bookmaker-head__table
            tr
              td.bookmaker-head__block
                .bookmaker-head__block-container
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico16"></use>
                  .bookmaker-head__block-content
                    span.bookmaker-head__block-title Sports Markets:
                    span.bookmaker-head__block-text around 30
              td.bookmaker-head__block
                .bookmaker-head__block-container
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico57"></use>
                  .bookmaker-head__block-content
                    span.bookmaker-head__block-title Betting Options:
                    span.bookmaker-head__block-text over 30,000
            tr
              td.bookmaker-head__block
                .bookmaker-head__block-container
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico45"></use>
                  .bookmaker-head__block-content
                    span.bookmaker-head__block-title Licensed By:
                    span.bookmaker-head__block-text UK Gambling Commission
              td.bookmaker-head__block
                .bookmaker-head__block-container
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico57"></use>
                  .bookmaker-head__block-content
                    span.bookmaker-head__block-title Sports Markets:
                    span.bookmaker-head__block-text around 30
      .bookmaker-head__banner
        .banner.banner_style5
          .banner__background.lazy(data-src='img/backgrounds/bg-banner1.jpg')
          .banner__container
            .banner__title
              span.banner__title-text Get Up to
              span.banner__title-value £100
              span.banner__title-text in Bet Credits
            a(href="#").button.button_style1.banner__button Bet Now
            a(href="#" data-tooltip-content="#tooltip-block_advertiser").tooltip.inline-link.inline-link_style2.dashed.banner__link T&Cs Apply
    
