.bookmakers
  .bookmakers__container
    .table
      .table__block
        .table__row.table__flex
          .table__col.col-rating
            .col-rating__container
              .col-rating__section
                .col-rating__link
                  a(href="#" rel="nofollow" target="_blank")
                    img(src="img/Bookies/image1.png", alt="")
                .col-rating__content
                  span.col-rating__value 
                    span 9.8 
                    | /10
                  +rating()
              .col-rating__text
                p Pinnacle is well-known for offering the best value odds. It's a must-have for bettors who like to wager big amounts of cash.
          .table__col.col-features
            ul.col-features__list
              li.col-features__item
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico54"></use>
                | No limit for maximum winnings per bet
              li.col-features__item
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico54"></use>
                | No stake limits
              li.col-features__item
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico54"></use>
                | Best value odds – smallest margins
          .table__col.col-bet
            span.col-bet__label Get up to <strong>£100</strong><br> in Bonuses
            a(href="#" rel="nofollow" target="_blank").button.button_style1 Bet Now
        .table__row.table__flex
          .table__col.col-text Your welcome bonus consists of 10 bonuses of £5 up to a maximum total of £50. This offer is available for New Customers registering from the UK after the 1st of May 2018. Bonus will expire after 7 days from registering. This offer is only available to New Customers from the UK making an Initial Deposit of £20 or more. Customers depositing via the following deposit methods are not eligible for the Welcome Bonus: Skrill & Neteller. Full T&Cs apply.
      .table__block
        .table__row.table__flex
          .table__col.col-rating
            .col-rating__container
              .col-rating__section
                .col-rating__link
                  a(href="#" rel="nofollow" target="_blank")
                    img(src="img/Bookies/image2.png", alt="")
                .col-rating__content
                  span.col-rating__value 
                    span 9.3 
                    | /10
                  +rating()
              .col-rating__text
                p Pinnacle is well-known for offering the best value odds. It's a must-have for bettors who like to wager big amounts of cash.
          .table__col.col-features
            ul.col-features__list
              li.col-features__item
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico54"></use>
                | No limit for maximum winnings per bet
              li.col-features__item
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico54"></use>
                | No stake limits
              li.col-features__item
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico54"></use>
                | Best value odds – smallest margins
          .table__col.col-bet
            span.col-bet__label Get up to <strong>£100</strong><br> in Bonuses
            a(href="#" rel="nofollow" target="_blank").button.button_style1 Bet Now
        .table__row.table__flex
          .table__col.col-text Your welcome bonus consists of 10 bonuses of £5 up to a maximum total of £50. This offer is available for New Customers registering from the UK after the 1st of May 2018. Bonus will expire after 7 days from registering. This offer is only available to New Customers from the UK making an Initial Deposit of £20 or more. Customers depositing via the following deposit methods are not eligible for the Welcome Bonus: Skrill & Neteller. Full T&Cs apply.
      .table__block
        .table__row.table__flex
          .table__col.col-rating
            .col-rating__container
              .col-rating__section
                .col-rating__link
                  a(href="#" rel="nofollow" target="_blank")
                    img(src="img/Bookies/image3.png", alt="")
                .col-rating__content
                  span.col-rating__value 
                    span 4.0
                    | /10
                  +rating()
              .col-rating__text
                p Pinnacle is well-known for offering the best value odds. It's a must-have for bettors who like to wager big amounts of cash.
          .table__col.col-features
            ul.col-features__list
              li.col-features__item
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico54"></use>
                | No limit for maximum winnings per bet
              li.col-features__item
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico54"></use>
                | No stake limits
              li.col-features__item
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico54"></use>
                | Best value odds – smallest margins
          .table__col.col-bet
            span.col-bet__label Get up to <strong>£100</strong><br> in Bonuses
            a(href="#" rel="nofollow" target="_blank").button.button_style1 Bet Now
        .table__row.table__flex
          .table__col.col-text Your welcome bonus consists of 10 bonuses of £5 up to a maximum total of £50. This offer is available for New Customers registering from the UK after the 1st of May 2018. Bonus will expire after 7 days from registering. This offer is only available to New Customers from the UK making an Initial Deposit of £20 or more. Customers depositing via the following deposit methods are not eligible for the Welcome Bonus: Skrill & Neteller. Full T&Cs apply.
      .table__block
        .table__row.table__flex
          .table__col.col-rating
            .col-rating__container
              .col-rating__section
                .col-rating__link
                  a(href="#" rel="nofollow" target="_blank")
                    img(src="img/Bookies/image2.png", alt="")
                .col-rating__content
                  span.col-rating__value 
                    span 9.3 
                    | /10
                  +rating()
              .col-rating__text
                p Pinnacle is well-known for offering the best value odds. It's a must-have for bettors who like to wager big amounts of cash.
          .table__col.col-features
            ul.col-features__list
              li.col-features__item
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico54"></use>
                | No limit for maximum winnings per bet
              li.col-features__item
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico54"></use>
                | No stake limits
              li.col-features__item
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico54"></use>
                | Best value odds – smallest margins
          .table__col.col-bet
            span.col-bet__label Get up to <strong>£100</strong><br> in Bonuses
            a(href="#" rel="nofollow" target="_blank").button.button_style1 Bet Now
        .table__row.table__flex
          .table__col.col-text Your welcome bonus consists of 10 bonuses of £5 up to a maximum total of £50. This offer is available for New Customers registering from the UK after the 1st of May 2018. Bonus will expire after 7 days from registering. This offer is only available to New Customers from the UK making an Initial Deposit of £20 or more. Customers depositing via the following deposit methods are not eligible for the Welcome Bonus: Skrill & Neteller. Full T&Cs apply.
      .table__block
        .table__row.table__flex
          .table__col.col-rating
            .col-rating__container
              .col-rating__section
                .col-rating__link
                  a(href="#" rel="nofollow" target="_blank")
                    img(src="img/Bookies/image3.png", alt="")
                .col-rating__content
                  span.col-rating__value 
                    span 4.0
                    | /10
                  +rating()
              .col-rating__text
                p Pinnacle is well-known for offering the best value odds. It's a must-have for bettors who like to wager big amounts of cash.
          .table__col.col-features
            ul.col-features__list
              li.col-features__item
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico54"></use>
                | No limit for maximum winnings per bet
              li.col-features__item
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico54"></use>
                | No stake limits
              li.col-features__item
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico54"></use>
                | Best value odds – smallest margins
          .table__col.col-bet
            span.col-bet__label Get up to <strong>£100</strong><br> in Bonuses
            a(href="#" rel="nofollow" target="_blank").button.button_style1 Bet Now
        .table__row.table__flex
          .table__col.col-text Your welcome bonus consists of 10 bonuses of £5 up to a maximum total of £50. This offer is available for New Customers registering from the UK after the 1st of May 2018. Bonus will expire after 7 days from registering. This offer is only available to New Customers from the UK making an Initial Deposit of £20 or more. Customers depositing via the following deposit methods are not eligible for the Welcome Bonus: Skrill & Neteller. Full T&Cs apply.

  