
table.table
  tr.table__row.table__row_head
    td.table__col.table__col_title RANK
    td.table__col.table__col_title BONUS
    td.table__col.table__col_title betting-sites
    td.table__col.table__col_title CLAIM BONUS
  tr.table__row
    td.table__col.col-rank
      .col-rank__container
        span.col-rank__order 1
        .col-rank__value.col-rank__value_up
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico20"></use>
          span 3
    td.table__col.col-sign-up-bonus
      .col-sign-up-bonus__container
        span.col-sign-up-bonus__label Get Up to
        a(href="#" rel="nofollow" target="_blank").col-sign-up-bonus__link £100
        span.col-sign-up-bonus__label in Bet Credits
    td.table__col.col-bonuses
      .col-bonuses__container
        .col-bonuses__section
          a(href="#").col-bonuses__image
            img(data-src="img/Bookies/ff5e94874f1e99b3d906f04bfcaa8bb4.png", alt="").lazy
          .col-bonuses__info
            .col-bonuses__info-row
              a(href="").inline-link.solid.col-bonuses__link Pinnacle
              ul.col-bonuses__icons-list
                li.col-bonuses__icons-item
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico8"></use>
                li.col-bonuses__icons-item
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico7"></use>
            .col-bonuses__info-row
              .col-bonuses__rating
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
                span.col-bonuses__rating-value
                  span 9.1
                  | /10
              .col-bonuses__comment
                a(href="#").col-bonuses__comment-item
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#comment"></use>
                  span.col-bonuses__comment-value 20
        .col-bonuses__section
          span.col-bonuses__promo-title Take your promocode
          button.button.col-bonuses__promo-button.tooltip-hover(data-clipboard-text="promo1" data-tooltip-content="#tooltip-block_advertiser") Yourbet
    td.table__col.col-claim-bonus
      .col-claim-bonus__container
        .col-claim-bonus__content
          .col-claim-bonus__section
            a(href="#").inline-link.inline-link_style1.solid Review
          .col-claim-bonus__section
            a(href="#" rel="nofollow" target="_blank").button.button_style1 Bet Now
            a(href="#" data-tooltip-content="#tooltip-block_advertiser").tooltip.inline-link.inline-link_style3.dashed.col-claim-bonus__link T&Cs Apply
  tr.table__row
    td.table__col.col-text(colspan='4') New customers only – Minimum deposit of £10 using deposit code 30F - A qualifying bet is a ‘real money’ stake of at least £10 placed on any sports market - Minimum odds of 1/2 (1.5) - Free bets credited upon qualifying bet settlement and expire after 7 days - Free bet stakes not included in returns - Deposit balance is available for withdrawal at any time. General deposit method & withdrawal restrictions apply & full T&C’s apply
  tr.table__row
    td.table__col.col-rank
      .col-rank__container
        span.col-rank__order 2
        .col-rank__value.col-rank__value_down
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico22"></use>
          span 3
    td.table__col.col-sign-up-bonus
      .col-sign-up-bonus__container
        a(href="#" rel="nofollow" target="_blank").col-sign-up-bonus__link Сashback
    td.table__col.col-bonuses
      .col-bonuses__container
        .col-bonuses__section
          a(href="#").col-bonuses__image
            img(data-src="img/Bookies/ff5e94874f1e99b3d906f04bfcaa8bb4.png", alt="").lazy
          .col-bonuses__info
            .col-bonuses__info-row
              a(href="").inline-link.solid.col-bonuses__link Pinnacle
              ul.col-bonuses__icons-list
                li.col-bonuses__icons-item
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico8"></use>
                li.col-bonuses__icons-item
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico7"></use>
            .col-bonuses__info-row
              .col-bonuses__rating
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
                span.col-bonuses__rating-value
                  span 9.1
                  | /10
              .col-bonuses__comment
                a(href="#").col-bonuses__comment-item
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#comment"></use>
                  span.col-bonuses__comment-value 20
        .col-bonuses__section
          span.col-bonuses__promo-title Take your promocode
          button.button.col-bonuses__promo-button.tooltip-hover(data-clipboard-text="promo2" data-tooltip-content="#tooltip-block_advertiser") Yourbet
    td.table__col.col-claim-bonus
      .col-claim-bonus__container
        .col-claim-bonus__content
          .col-claim-bonus__section
            a(href="#").inline-link.inline-link_style1.solid Review
          .col-claim-bonus__section
            a(href="#" rel="nofollow" target="_blank").button.button_style1 Bet Now
            a(href="#" data-tooltip-content="#tooltip-block_advertiser").tooltip.inline-link.inline-link_style3.dashed.col-claim-bonus__link T&Cs Apply
  tr.table__row
    td.table__col.col-text(colspan='4') New customers only – Minimum deposit of £10 using deposit code 30F - A qualifying bet is a ‘real money’ stake of at least £10 placed on any sports market - Minimum odds of 1/2 (1.5) - Free bets credited upon qualifying bet settlement and expire after 7 days - Free bet stakes not included in returns - Deposit balance is available for withdrawal at any time. General deposit method & withdrawal restrictions apply & full T&C’s apply
  tr.table__row
    td.table__col.col-rank
      .col-rank__container
        span.col-rank__order 2
        .col-rank__value.col-rank__value_down
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico22"></use>
          span 3
    td.table__col.col-sign-up-bonus
      .col-sign-up-bonus__container
        a(href="#" rel="nofollow" target="_blank").col-sign-up-bonus__link Сashback
    td.table__col.col-bonuses
      .col-bonuses__container
        .col-bonuses__section
          a(href="#").col-bonuses__image
            img(data-src="img/Bookies/ff5e94874f1e99b3d906f04bfcaa8bb4.png", alt="").lazy
          .col-bonuses__info
            .col-bonuses__info-row
              a(href="").inline-link.solid.col-bonuses__link Pinnacle
              ul.col-bonuses__icons-list
                li.col-bonuses__icons-item
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico8"></use>
                li.col-bonuses__icons-item
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico7"></use>
            .col-bonuses__info-row
              .col-bonuses__rating
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
                span.col-bonuses__rating-value
                  span 9.1
                  | /10
              .col-bonuses__comment
                a(href="#").col-bonuses__comment-item
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#comment"></use>
                  span.col-bonuses__comment-value 20
        .col-bonuses__section
          span.col-bonuses__promo-title Take your promocode
          button.button.col-bonuses__promo-button.tooltip-hover(data-clipboard-text="promo2" data-tooltip-content="#tooltip-block_advertiser") Yourbet
    td.table__col.col-claim-bonus
      .col-claim-bonus__container
        .col-claim-bonus__content
          .col-claim-bonus__section
            a(href="#").inline-link.inline-link_style1.solid Review
          .col-claim-bonus__section
            a(href="#" rel="nofollow" target="_blank").button.button_style1 Bet Now
            a(href="#" data-tooltip-content="#tooltip-block_advertiser").tooltip.inline-link.inline-link_style3.dashed.col-claim-bonus__link T&Cs Apply
  tr.table__row
    td.table__col.col-text(colspan='4') New customers only – Minimum deposit of £10 using deposit code 30F - A qualifying bet is a ‘real money’ stake of at least £10 placed on any sports market - Minimum odds of 1/2 (1.5) - Free bets credited upon qualifying bet settlement and expire after 7 days - Free bet stakes not included in returns - Deposit balance is available for withdrawal at any time. General deposit method & withdrawal restrictions apply & full T&C’s apply
  tr.table__row
    td.table__col.col-rank
      .col-rank__container
        span.col-rank__order 2
        .col-rank__value.col-rank__value_down
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico22"></use>
          span 3
    td.table__col.col-sign-up-bonus
      .col-sign-up-bonus__container
        a(href="#" rel="nofollow" target="_blank").col-sign-up-bonus__link Сashback
    td.table__col.col-bonuses
      .col-bonuses__container
        .col-bonuses__section
          a(href="#").col-bonuses__image
            img(data-src="img/Bookies/ff5e94874f1e99b3d906f04bfcaa8bb4.png", alt="").lazy
          .col-bonuses__info
            .col-bonuses__info-row
              a(href="").inline-link.solid.col-bonuses__link Pinnacle
              ul.col-bonuses__icons-list
                li.col-bonuses__icons-item
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico8"></use>
                li.col-bonuses__icons-item
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico7"></use>
            .col-bonuses__info-row
              .col-bonuses__rating
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
                span.col-bonuses__rating-value
                  span 9.1
                  | /10
              .col-bonuses__comment
                a(href="#").col-bonuses__comment-item
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#comment"></use>
                  span.col-bonuses__comment-value 20
        .col-bonuses__section
          span.col-bonuses__promo-title Take your promocode
          button.button.col-bonuses__promo-button.tooltip-hover(data-clipboard-text="promo2" data-tooltip-content="#tooltip-block_advertiser") Yourbet
    td.table__col.col-claim-bonus
      .col-claim-bonus__container
        .col-claim-bonus__content
          .col-claim-bonus__section
            a(href="#").inline-link.inline-link_style1.solid Review
          .col-claim-bonus__section
            a(href="#" rel="nofollow" target="_blank").button.button_style1 Bet Now
            a(href="#" data-tooltip-content="#tooltip-block_advertiser").tooltip.inline-link.inline-link_style3.dashed.col-claim-bonus__link T&Cs Apply
  tr.table__row
    td.table__col.col-text(colspan='4') New customers only – Minimum deposit of £10 using deposit code 30F - A qualifying bet is a ‘real money’ stake of at least £10 placed on any sports market - Minimum odds of 1/2 (1.5) - Free bets credited upon qualifying bet settlement and expire after 7 days - Free bet stakes not included in returns - Deposit balance is available for withdrawal at any time. General deposit method & withdrawal restrictions apply & full T&C’s apply
  tr.table__row
    td.table__col.col-rank
      .col-rank__container
        span.col-rank__order 2
        .col-rank__value.col-rank__value_down
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico22"></use>
          span 3
    td.table__col.col-sign-up-bonus
      .col-sign-up-bonus__container
        a(href="#" rel="nofollow" target="_blank").col-sign-up-bonus__link Сashback
    td.table__col.col-bonuses
      .col-bonuses__container
        .col-bonuses__section
          a(href="#").col-bonuses__image
            img(data-src="img/Bookies/ff5e94874f1e99b3d906f04bfcaa8bb4.png", alt="").lazy
          .col-bonuses__info
            .col-bonuses__info-row
              a(href="").inline-link.solid.col-bonuses__link Pinnacle
              ul.col-bonuses__icons-list
                li.col-bonuses__icons-item
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico8"></use>
                li.col-bonuses__icons-item
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico7"></use>
            .col-bonuses__info-row
              .col-bonuses__rating
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
                span.col-bonuses__rating-value
                  span 9.1
                  | /10
              .col-bonuses__comment
                a(href="#").col-bonuses__comment-item
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#comment"></use>
                  span.col-bonuses__comment-value 20
        .col-bonuses__section
          span.col-bonuses__promo-title Take your promocode
          button.button.col-bonuses__promo-button.tooltip-hover(data-clipboard-text="promo2" data-tooltip-content="#tooltip-block_advertiser") Yourbet
    td.table__col.col-claim-bonus
      .col-claim-bonus__container
        .col-claim-bonus__content
          .col-claim-bonus__section
            a(href="#").inline-link.inline-link_style1.solid Review
          .col-claim-bonus__section
            a(href="#" rel="nofollow" target="_blank").button.button_style1 Bet Now
            a(href="#" data-tooltip-content="#tooltip-block_advertiser").tooltip.inline-link.inline-link_style3.dashed.col-claim-bonus__link T&Cs Apply
  tr.table__row
    td.table__col.col-text(colspan='4') New customers only – Minimum deposit of £10 using deposit code 30F - A qualifying bet is a ‘real money’ stake of at least £10 placed on any sports market - Minimum odds of 1/2 (1.5) - Free bets credited upon qualifying bet settlement and expire after 7 days - Free bet stakes not included in returns - Deposit balance is available for withdrawal at any time. General deposit method & withdrawal restrictions apply & full T&C’s apply
  tr.table__row
    td.table__col.col-rank
      .col-rank__container
        span.col-rank__order 2
        .col-rank__value.col-rank__value_down
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico22"></use>
          span 3
    td.table__col.col-sign-up-bonus
      .col-sign-up-bonus__container
        a(href="#" rel="nofollow" target="_blank").col-sign-up-bonus__link Сashback
    td.table__col.col-bonuses
      .col-bonuses__container
        .col-bonuses__section
          a(href="#").col-bonuses__image
            img(data-src="img/Bookies/ff5e94874f1e99b3d906f04bfcaa8bb4.png", alt="").lazy
          .col-bonuses__info
            .col-bonuses__info-row
              a(href="").inline-link.solid.col-bonuses__link Pinnacle
              ul.col-bonuses__icons-list
                li.col-bonuses__icons-item
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico8"></use>
                li.col-bonuses__icons-item
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico7"></use>
            .col-bonuses__info-row
              .col-bonuses__rating
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
                span.col-bonuses__rating-value
                  span 9.1
                  | /10
              .col-bonuses__comment
                a(href="#").col-bonuses__comment-item
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#comment"></use>
                  span.col-bonuses__comment-value 20
        .col-bonuses__section
          span.col-bonuses__promo-title Take your promocode
          button.button.col-bonuses__promo-button.tooltip-hover(data-clipboard-text="promo2" data-tooltip-content="#tooltip-block_advertiser") Yourbet
    td.table__col.col-claim-bonus
      .col-claim-bonus__container
        .col-claim-bonus__content
          .col-claim-bonus__section
            a(href="#").inline-link.inline-link_style1.solid Review
          .col-claim-bonus__section
            a(href="#" rel="nofollow" target="_blank").button.button_style1 Bet Now
            a(href="#" data-tooltip-content="#tooltip-block_advertiser").tooltip.inline-link.inline-link_style3.dashed.col-claim-bonus__link T&Cs Apply
  tr.table__row
    td.table__col.col-text(colspan='4') New customers only – Minimum deposit of £10 using deposit code 30F - A qualifying bet is a ‘real money’ stake of at least £10 placed on any sports market - Minimum odds of 1/2 (1.5) - Free bets credited upon qualifying bet settlement and expire after 7 days - Free bet stakes not included in returns - Deposit balance is available for withdrawal at any time. General deposit method & withdrawal restrictions apply & full T&C’s apply
  tr.table__row
    td.table__col.col-rank
      .col-rank__container
        span.col-rank__order 2
        .col-rank__value.col-rank__value_down
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico22"></use>
          span 3
    td.table__col.col-sign-up-bonus
      .col-sign-up-bonus__container
        a(href="#" rel="nofollow" target="_blank").col-sign-up-bonus__link Сashback
    td.table__col.col-bonuses
      .col-bonuses__container
        .col-bonuses__section
          a(href="#").col-bonuses__image
            img(data-src="img/Bookies/ff5e94874f1e99b3d906f04bfcaa8bb4.png", alt="").lazy
          .col-bonuses__info
            .col-bonuses__info-row
              a(href="").inline-link.solid.col-bonuses__link Pinnacle
              ul.col-bonuses__icons-list
                li.col-bonuses__icons-item
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico8"></use>
                li.col-bonuses__icons-item
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico7"></use>
            .col-bonuses__info-row
              .col-bonuses__rating
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
                span.col-bonuses__rating-value
                  span 9.1
                  | /10
              .col-bonuses__comment
                a(href="#").col-bonuses__comment-item
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#comment"></use>
                  span.col-bonuses__comment-value 20
        .col-bonuses__section
          span.col-bonuses__promo-title Take your promocode
          button.button.col-bonuses__promo-button.tooltip-hover(data-clipboard-text="promo2" data-tooltip-content="#tooltip-block_advertiser") Yourbet
    td.table__col.col-claim-bonus
      .col-claim-bonus__container
        .col-claim-bonus__content
          .col-claim-bonus__section
            a(href="#").inline-link.inline-link_style1.solid Review
          .col-claim-bonus__section
            a(href="#" rel="nofollow" target="_blank").button.button_style1 Bet Now
            a(href="#" data-tooltip-content="#tooltip-block_advertiser").tooltip.inline-link.inline-link_style3.dashed.col-claim-bonus__link T&Cs Apply
  tr.table__row
    td.table__col.col-text(colspan='4') New customers only – Minimum deposit of £10 using deposit code 30F - A qualifying bet is a ‘real money’ stake of at least £10 placed on any sports market - Minimum odds of 1/2 (1.5) - Free bets credited upon qualifying bet settlement and expire after 7 days - Free bet stakes not included in returns - Deposit balance is available for withdrawal at any time. General deposit method & withdrawal restrictions apply & full T&C’s apply
  
