
table.table
  tr.table__row.table__row_head
    td.table__col.table__col_title RANK
    td.table__col.table__col_title betting-sites
    td.table__col.table__col_title Rating
    td.table__col.table__col_title Comments
    td.table__col.table__col_title BONUS
    td.table__col.table__col_title CLAIM BONUS
  tr.table__row
    td.table__col.col-rank
      .col-rank__container
        span.col-rank__order 1
        .col-rank__value
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico21"></use>
          span 0
    td.table__col.col-betting-sites
      .col-betting-sites__container
        a(href="").col-betting-sites__image
          img(src="img/Bookies/6ee7a1393eecd738d8928632c776aa30.jpg", alt="")
        .col-betting-sites__content
          a(href="").inline-link.solid.col-betting-sites__link Pinnacle
          ul.col-betting-sites__list
            li.col-betting-sites__item
              svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico8"></use>
            li.col-betting-sites__item
              svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico7"></use>
    td.table__col.col-small-rating
      .col-small-rating__container
        svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
        span.col-small-rating__value
          span 9.1
          | /10
    td.table__col.col-comment
      .col-comment__container
        a(href="#").col-comment__item
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#comment"></use>
          span.col-comment__value 20
    td.table__col.col-sign-up-bonus
      .col-sign-up-bonus__container
        a(href="#" rel="nofollow" target="_blank").col-sign-up-bonus__link Cashback
    td.table__col.col-claim-bonus
      .col-claim-bonus__container
        .col-claim-bonus__content
          .col-claim-bonus__section
            a(href="#").inline-link.inline-link_style1.solid Review
          .col-claim-bonus__section
            a(href="#" rel="nofollow" target="_blank").button.button_style1 Bet Now
            a(href="#" data-tooltip-content="#tooltip-block_advertiser").tooltip.inline-link.inline-link_style3.dashed.col-claim-bonus__link T&Cs Apply
  tr.table__row
    td.table__col.col-rank
      .col-rank__container
        span.col-rank__order 2
        .col-rank__value.col-rank__value_down
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico22"></use>
          span 3
    td.table__col.col-betting-sites
      .col-betting-sites__container
        a(href="").col-betting-sites__image
          img(src="img/Bookies/6ee7a1393eecd738d8928632c776aa30.jpg", alt="")
        .col-betting-sites__content
          a(href="").inline-link.solid.col-betting-sites__link Bet365
          ul.col-betting-sites__list
            li.col-betting-sites__item
              svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico8"></use>
            li.col-betting-sites__item
              svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico7"></use>
    td.table__col.col-small-rating
      .col-small-rating__container
        svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
        span.col-small-rating__value
          span 2
          | /10
    td.table__col.col-comment
      .col-comment__container
        span.col-comment__item.col-comment__item_disabled
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#comment"></use>
          span.col-comment__value 0
    td.table__col.col-sign-up-bonus
      .col-sign-up-bonus__container
        span.col-sign-up-bonus__label Get Up to
        a(href="#" rel="nofollow" target="_blank").col-sign-up-bonus__link £100
        span.col-sign-up-bonus__label in Bet Credits
    td.table__col.col-claim-bonus
      .col-claim-bonus__container
        .col-claim-bonus__content
          .col-claim-bonus__section
            a(href="#").inline-link.inline-link_style1.solid Review
          .col-claim-bonus__section
            a(href="#" rel="nofollow" target="_blank").button.button_style1 Bet Now
            a(href="#" data-tooltip-content="#tooltip-block_advertiser").tooltip.inline-link.inline-link_style3.dashed.col-claim-bonus__link T&Cs Apply
  tr.table__row
    td.table__col.col-rank
      .col-rank__container
        span.col-rank__order 3
        .col-rank__value.col-rank__value_up
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico20"></use>
          span 12
    td.table__col.col-betting-sites
      .col-betting-sites__container
        a(href="").col-betting-sites__image
          img(src="img/Bookies/6ee7a1393eecd738d8928632c776aa30.jpg", alt="")
        .col-betting-sites__content
          a(href="").inline-link.solid.col-betting-sites__link Bet365
          ul.col-betting-sites__list
            li.col-betting-sites__item
              svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico8"></use>
            li.col-betting-sites__item
              svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico7"></use>
    td.table__col.col-small-rating
      .col-small-rating__container
        svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
        span.col-small-rating__value
          span 2
          | /10
    td.table__col.col-comment
      .col-comment__container
        span.col-comment__item.col-comment__item_disabled
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#comment"></use>
          span.col-comment__value 0
    td.table__col.col-sign-up-bonus
      .col-sign-up-bonus__container
        span.col-sign-up-bonus__label Get Up to
        a(href="#" rel="nofollow" target="_blank").col-sign-up-bonus__link £100
        span.col-sign-up-bonus__label in Bet Credits
    td.table__col.col-claim-bonus
      .col-claim-bonus__container
        .col-claim-bonus__content
          .col-claim-bonus__section
            a(href="#").inline-link.inline-link_style1.solid Review
          .col-claim-bonus__section
            a(href="#" rel="nofollow" target="_blank").button.button_style1 Bet Now
            a(href="#" data-tooltip-content="#tooltip-block_advertiser").tooltip.inline-link.inline-link_style3.dashed.col-claim-bonus__link T&Cs Apply
  tr.table__row
    td.table__col.col-rank
      .col-rank__container
        span.col-rank__order 1
        .col-rank__value
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico21"></use>
          span 0
    td.table__col.col-betting-sites
      .col-betting-sites__container
        a(href="").col-betting-sites__image
          img(src="img/Bookies/6ee7a1393eecd738d8928632c776aa30.jpg", alt="")
        .col-betting-sites__content
          a(href="").inline-link.solid.col-betting-sites__link Pinnacle
          ul.col-betting-sites__list
            li.col-betting-sites__item
              svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico8"></use>
            li.col-betting-sites__item
              svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico7"></use>
    td.table__col.col-small-rating
      .col-small-rating__container
        svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
        span.col-small-rating__value
          span 9.1
          | /10
    td.table__col.col-comment
      .col-comment__container
        a(href="#").col-comment__item
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#comment"></use>
          span.col-comment__value 20
    td.table__col.col-sign-up-bonus
      .col-sign-up-bonus__container
        a(href="#" rel="nofollow" target="_blank").col-sign-up-bonus__link Cashback
    td.table__col.col-claim-bonus
      .col-claim-bonus__container
        .col-claim-bonus__content
          .col-claim-bonus__section
            a(href="#").inline-link.inline-link_style1.solid Review
          .col-claim-bonus__section
            a(href="#" rel="nofollow" target="_blank").button.button_style1 Bet Now
            a(href="#" data-tooltip-content="#tooltip-block_advertiser").tooltip.inline-link.inline-link_style3.dashed.col-claim-bonus__link T&Cs Apply
  tr.table__row
    td.table__col.col-rank
      .col-rank__container
        span.col-rank__order 2
        .col-rank__value.col-rank__value_down
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico22"></use>
          span 3
    td.table__col.col-betting-sites
      .col-betting-sites__container
        a(href="").col-betting-sites__image
          img(src="img/Bookies/6ee7a1393eecd738d8928632c776aa30.jpg", alt="")
        .col-betting-sites__content
          a(href="").inline-link.solid.col-betting-sites__link Bet365
          ul.col-betting-sites__list
            li.col-betting-sites__item
              svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico8"></use>
            li.col-betting-sites__item
              svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico7"></use>
    td.table__col.col-small-rating
      .col-small-rating__container
        svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
        span.col-small-rating__value
          span 2
          | /10
    td.table__col.col-comment
      .col-comment__container
        span.col-comment__item.col-comment__item_disabled
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#comment"></use>
          span.col-comment__value 0
    td.table__col.col-sign-up-bonus
      .col-sign-up-bonus__container
        span.col-sign-up-bonus__label Get Up to
        a(href="#" rel="nofollow" target="_blank").col-sign-up-bonus__link £100
        span.col-sign-up-bonus__label in Bet Credits
    td.table__col.col-claim-bonus
      .col-claim-bonus__container
        .col-claim-bonus__content
          .col-claim-bonus__section
            a(href="#").inline-link.inline-link_style1.solid Review
          .col-claim-bonus__section
            a(href="#" rel="nofollow" target="_blank").button.button_style1 Bet Now
            a(href="#" data-tooltip-content="#tooltip-block_advertiser").tooltip.inline-link.inline-link_style3.dashed.col-claim-bonus__link T&Cs Apply
  tr.table__row
    td.table__col.col-rank
      .col-rank__container
        span.col-rank__order 3
        .col-rank__value.col-rank__value_up
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico20"></use>
          span 12
    td.table__col.col-betting-sites
      .col-betting-sites__container
        a(href="").col-betting-sites__image
          img(src="img/Bookies/6ee7a1393eecd738d8928632c776aa30.jpg", alt="")
        .col-betting-sites__content
          a(href="").inline-link.solid.col-betting-sites__link Bet365
          ul.col-betting-sites__list
            li.col-betting-sites__item
              svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico8"></use>
            li.col-betting-sites__item
              svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico7"></use>
    td.table__col.col-small-rating
      .col-small-rating__container
        svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
        span.col-small-rating__value
          span 2
          | /10
    td.table__col.col-comment
      .col-comment__container
        span.col-comment__item.col-comment__item_disabled
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#comment"></use>
          span.col-comment__value 0
    td.table__col.col-sign-up-bonus
      .col-sign-up-bonus__container
        span.col-sign-up-bonus__label Get Up to
        a(href="#" rel="nofollow" target="_blank").col-sign-up-bonus__link £100
        span.col-sign-up-bonus__label in Bet Credits
    td.table__col.col-claim-bonus
      .col-claim-bonus__container
        .col-claim-bonus__content
          .col-claim-bonus__section
            a(href="#").inline-link.inline-link_style1.solid Review
          .col-claim-bonus__section
            a(href="#" rel="nofollow" target="_blank").button.button_style1 Bet Now
            a(href="#" data-tooltip-content="#tooltip-block_advertiser").tooltip.inline-link.inline-link_style3.dashed.col-claim-bonus__link T&Cs Apply
  tr.table__row
    td.table__col.col-rank
      .col-rank__container
        span.col-rank__order 1
        .col-rank__value
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico21"></use>
          span 0
    td.table__col.col-betting-sites
      .col-betting-sites__container
        a(href="").col-betting-sites__image
          img(src="img/Bookies/6ee7a1393eecd738d8928632c776aa30.jpg", alt="")
        .col-betting-sites__content
          a(href="").inline-link.solid.col-betting-sites__link Pinnacle
          ul.col-betting-sites__list
            li.col-betting-sites__item
              svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico8"></use>
            li.col-betting-sites__item
              svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico7"></use>
    td.table__col.col-small-rating
      .col-small-rating__container
        svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
        span.col-small-rating__value
          span 9.1
          | /10
    td.table__col.col-comment
      .col-comment__container
        a(href="#").col-comment__item
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#comment"></use>
          span.col-comment__value 20
    td.table__col.col-sign-up-bonus
      .col-sign-up-bonus__container
        a(href="#" rel="nofollow" target="_blank").col-sign-up-bonus__link Cashback
    td.table__col.col-claim-bonus
      .col-claim-bonus__container
        .col-claim-bonus__content
          .col-claim-bonus__section
            a(href="#").inline-link.inline-link_style1.solid Review
          .col-claim-bonus__section
            a(href="#" rel="nofollow" target="_blank").button.button_style1 Bet Now
            a(href="#" data-tooltip-content="#tooltip-block_advertiser").tooltip.inline-link.inline-link_style3.dashed.col-claim-bonus__link T&Cs Apply
  tr.table__row
    td.table__col.col-rank
      .col-rank__container
        span.col-rank__order 2
        .col-rank__value.col-rank__value_down
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico22"></use>
          span 3
    td.table__col.col-betting-sites
      .col-betting-sites__container
        a(href="").col-betting-sites__image
          img(src="img/Bookies/6ee7a1393eecd738d8928632c776aa30.jpg", alt="")
        .col-betting-sites__content
          a(href="").inline-link.solid.col-betting-sites__link Bet365
          ul.col-betting-sites__list
            li.col-betting-sites__item
              svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico8"></use>
            li.col-betting-sites__item
              svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico7"></use>
    td.table__col.col-small-rating
      .col-small-rating__container
        svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
        span.col-small-rating__value
          span 2
          | /10
    td.table__col.col-comment
      .col-comment__container
        span.col-comment__item.col-comment__item_disabled
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#comment"></use>
          span.col-comment__value 0
    td.table__col.col-sign-up-bonus
      .col-sign-up-bonus__container
        span.col-sign-up-bonus__label Get Up to
        a(href="#" rel="nofollow" target="_blank").col-sign-up-bonus__link £100
        span.col-sign-up-bonus__label in Bet Credits
    td.table__col.col-claim-bonus
      .col-claim-bonus__container
        .col-claim-bonus__content
          .col-claim-bonus__section
            a(href="#").inline-link.inline-link_style1.solid Review
          .col-claim-bonus__section
            a(href="#" rel="nofollow" target="_blank").button.button_style1 Bet Now
            a(href="#" data-tooltip-content="#tooltip-block_advertiser").tooltip.inline-link.inline-link_style3.dashed.col-claim-bonus__link T&Cs Apply
  tr.table__row
    td.table__col.col-rank
      .col-rank__container
        span.col-rank__order 3
        .col-rank__value.col-rank__value_up
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico20"></use>
          span 12
    td.table__col.col-betting-sites
      .col-betting-sites__container
        a(href="").col-betting-sites__image
          img(src="img/Bookies/6ee7a1393eecd738d8928632c776aa30.jpg", alt="")
        .col-betting-sites__content
          a(href="").inline-link.solid.col-betting-sites__link Bet365
          ul.col-betting-sites__list
            li.col-betting-sites__item
              svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico8"></use>
            li.col-betting-sites__item
              svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico7"></use>
    td.table__col.col-small-rating
      .col-small-rating__container
        svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
        span.col-small-rating__value
          span 2
          | /10
    td.table__col.col-comment
      .col-comment__container
        span.col-comment__item.col-comment__item_disabled
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#comment"></use>
          span.col-comment__value 0
    td.table__col.col-sign-up-bonus
      .col-sign-up-bonus__container
        span.col-sign-up-bonus__label Get Up to
        a(href="#" rel="nofollow" target="_blank").col-sign-up-bonus__link £100
        span.col-sign-up-bonus__label in Bet Credits
    td.table__col.col-claim-bonus
      .col-claim-bonus__container
        .col-claim-bonus__content
          .col-claim-bonus__section
            a(href="#").inline-link.inline-link_style1.solid Review
          .col-claim-bonus__section
            a(href="#" rel="nofollow" target="_blank").button.button_style1 Bet Now
            a(href="#" data-tooltip-content="#tooltip-block_advertiser").tooltip.inline-link.inline-link_style3.dashed.col-claim-bonus__link T&Cs Apply