.catalogue-head
  ul.catalogue-head__list
    li.catalogue-head__item
      .catalogue-head__item-content
        span United Kingdom
        a(href="#").catalogue-head__item-close
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico41"></use>
    li.catalogue-head__item
      .catalogue-head__item-content
        span Football
        a(href="#").catalogue-head__item-close
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico41"></use>
    li.catalogue-head__item
      .catalogue-head__item-content
        span United Kingdom
        a(href="#").catalogue-head__item-close
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico41"></use>
    li.catalogue-head__item
      .catalogue-head__item-content
        span Football
        a(href="#").catalogue-head__item-close
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico41"></use>
    li.catalogue-head__item
      .catalogue-head__item-content
        span United Kingdom
        a(href="#").catalogue-head__item-close
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico41"></use>
    li.catalogue-head__item
      .catalogue-head__item-content
        span Football
        a(href="#").catalogue-head__item-close
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico41"></use>
    li.catalogue-head__item
      .catalogue-head__item-content
        span United Kingdom
        a(href="#").catalogue-head__item-close
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico41"></use>
    li.catalogue-head__item
      .catalogue-head__item-content
        span Football
        a(href="#").catalogue-head__item-close
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico41"></use>
    li.catalogue-head__item
      .catalogue-head__item-content
        span United Kingdom
        a(href="#").catalogue-head__item-close
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico41"></use>
    li.catalogue-head__item
      .catalogue-head__item-content
        span Football
        a(href="#").catalogue-head__item-close
          svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico41"></use>
  .catalogue-head__sorting
    .sort-item
      button.sort-item__button
        span Top Rated
        svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico43"></use>
      ul.sort-item__list
        li.sort-item__item
          a(href="#").sort-item__link Top Rated
        li.sort-item__item
          a(href="#").sort-item__link Low Rated
        li.sort-item__item
          a(href="#").sort-item__link Newest First
        li.sort-item__item
          a(href="#").sort-item__link Most Discussed