.cookies-message
  .cookies-message__container
    span.cookies-message__text This website uses cookies to ensure you get the best experience on  our website. 
      a(href="#").inline-link.inline-link_style3.solid Learn More
    a(href="#").button.button_style3.cookies-message__button Got It!
