.existing-offers-banner.aside-block
  a(href="#").banner.banner_style3
    .banner__background.lazy(data-src='img/backgrounds/bg-banner1.jpg')
    .banner__container
      svg.icon <use xlink:href="img/icons/icon-sprite.svg#kubok"></use>
      span.banner__title Existing Customers Offers
