.filter.aside-block
  form(action="").filter__container
    .filter__content.row
      .filter-block.col
        .filter-block__container
          h4.title.title_style3 Your Country
          ul.filter-block__list
            li.filter-block__item
              label.filter-block__label United Kingdom
                input(type="checkbox").filter-block__checkbox
            li.filter-block__item
              label.filter-block__label United Kingdom
                input(type="checkbox").filter-block__checkbox
          .filter-block__dropdown
            a(href="#").filter-block__dropdown-button -- see more sports bookie
              svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico43"></use>
            .filter-block__dropdown-container
              .filter-block__dropdown-content
                span.filter-block__alphabet a
                ul.filter-block__list
                  li.filter-block__item
                    label.filter-block__label United Kingdom
                      input(type="checkbox").filter-block__checkbox
                  li.filter-block__item
                    label.filter-block__label United Kingdom
                      input(type="checkbox").filter-block__checkbox
                  li.filter-block__item
                    label.filter-block__label United Kingdom
                      input(type="checkbox").filter-block__checkbox
                  li.filter-block__item
                    label.filter-block__label United Kingdom
                      input(type="checkbox").filter-block__checkbox
                  li.filter-block__item
                    label.filter-block__label United Kingdom
                      input(type="checkbox").filter-block__checkbox
                  li.filter-block__item
                    label.filter-block__label United Kingdom
                      input(type="checkbox").filter-block__checkbox