footer.footer
  .footer__container
    .footer__content
      .container
        .footer__section
          .logo
            a(href="#").logo__link
              img(src="img/logos/logo.svg", alt="").logo__image
          .socials
            .socials__content
              .socials__label Follow Us
              ul.socials__list
                li.socials__item
                  a(href="#").socials__link
                    svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico6"></use>
                li.socials__item
                  a(href="#").socials__link
                    svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico5"></use>
                li.socials__item
                  a(href="#").socials__link
                    svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico4"></use>
        nav.nav
          ul.nav__list
            li.nav__item
              a(href="#").nav__link TERMS & CONDITIONS
            li.nav__item
              a(href="#").nav__link PRIVACY & COOKIE POLICY
            li.nav__item
              a(href="#").nav__link CONTACTS
    .footer__content
      .container
        p.footer__disclaimer DISCLAIMER: All free bets, promotions and bonuses listed are subject to the terms and the individual staking requirements of their respective operators. Freebets.co.uk does not fulfill or provide any form of customer support for any incentives that may appear on this site. This site and the offers we list involve gambling and are only suitable for users of legal age in jurisdictions where online gambling is permitted. All third party trademarks, logos and images are the property of their respective owners. Trademarks and references to trademarks are made under the intention of fair use in the business of promoting the services of betting operators.<br> Online Wagering is illegal in some Jurisdictions. It is your responsibility to check your local regulations before playing online. Online-Bookmaker.com takes no responsibility for your actions.
    .footer__content
      .container
        span.copy &copy 2019 Online-Bookmaker.com. All rights reserved
        .footer-label
          ul.footer-label__list
            li.footer-label__item
            li.footer-label__item
            li.footer-label__item
            li.footer-label__item