header.header
  .container
    .header__container
      .logo
        a(href="#").logo__link
          img(src="img/logos/logo.svg", alt="").logo__image
      .header__section
        nav.nav
          ul.nav__list
            li.nav__item
              a(href="#").nav__link ONLINE BOOKMAKERS
            li.nav__item
              a(href="#").nav__link BETTING SITES
            li.nav__item
              a(href="#").nav__link BETTING APPS
            li.nav__item
              a(href="#").nav__link FREE BETS
            li.nav__item
              a(href="#").nav__link GUIDES
                svg.icon.nav__link-icon <use xlink:href="img/icons/icon-sprite.svg#ico-arrow_bottom"></use>
        .search-block
          button.search-block__button
            svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico-search"></use>
          .search-block__container
            .search-block__content
              form(action="").search-block__form
                button(type="submit").search-block__submit
                  svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico-search"></use>
                input.search-block__input(placeholder="Search..." required)
              button.search-block__close
                svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico-close"></use>
        .sign-in
          button.sign-in__button
            svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico-user"></use>
            | Sign in
          .sign-in__container
            .sign-in__content
              ul.sign-in__list
                li.sign-in__item
                  a(href="#").sign-in__link
                    svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico-facebook"></use>
                    | Facebook
                li.sign-in__item
                  a(href="#").sign-in__link
                    svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico-twitter"></use>
                    | Twitter
                li.sign-in__item
                  a(href="#").sign-in__link
                    svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico-google"></use>
                    | Google
                

            

