.home
  .container
    .home__container
      .home__content
        h1.home__title Online Bookmakers
        h2.home__sub-title Impartial Ranking of Online Bookies
        a(href="#").button.button_style1.home__button Best Betting Sites
      include hot-offers