.info-table
  table.table
    tr.table__row.table__row_head
      td.table__col.table__col_title(colspan='2') General Sportsbook Information
    tr.table__row.table__row_general
      td.table__col.table__col-title Company
      td.table__col Betway Group, Gzira, Malta. Established in December 2011
    tr.table__row.table__row_general
      td.table__col.table__col-title Website Information
      td.table__col Country Restrictions: Clients outside USA, Brazil, Mexico not permitted. <br>
        | Security: RapidSSL, 128-bit. <br>
        | Licence: e.COGRA, 000-039372-R-319367-003.
    tr.table__row.table__row_general
      td.table__col.table__col-title Currencies Accepted
      td.table__col
        a(href="#").inline-link.inline-link_style1.solid USD
        | , 
        a(href="#").inline-link.inline-link_style1.solid Bitcoin
    tr.table__row.table__row_general
      td.table__col.table__col-title Website Information
      td.table__col.table__col_table
        table.table.table_child
          tr.table__row.table__row_head
            td.table__col.table__col_title Method
            td.table__col.table__col_title Min
            td.table__col.table__col_title Max
          tr.table__row
            td.table__col
              a(href="#").inline-link.inline-link_style1.solid Bitcoin
            td.table__col $20
            td.table__col $5,000
          tr.table__row
            td.table__col
              a(href="#").inline-link.inline-link_style1.solid Mastercard
            td.table__col $20
            td.table__col $5,000
          tr.table__row
            td.table__col
              a(href="#").inline-link.inline-link_style1.solid Visa
            td.table__col $20
            td.table__col $5,000
          tr.table__row
            td.table__col
              a(href="#").inline-link.inline-link_style1.solid American Express
            td.table__col $20
            td.table__col $5,000
          tr.table__row
            td.table__col
              a(href="#").inline-link.inline-link_style1.solid Bitcoin Cash
            td.table__col $20
            td.table__col $5,000
    tr.table__row.table__row_general
      td.table__col.table__col-title Methods of Withdrawal
      td.table__col.table__col_table
        table.table.table_child
          tr.table__row.table__row_head
            td.table__col.table__col_title Method
            td.table__col.table__col_title Min
            td.table__col.table__col_title Max
          tr.table__row
            td.table__col
              a(href="#").inline-link.inline-link_style1.solid Bitcoin
            td.table__col $20
            td.table__col $9,500 per transaction (one per day)
          tr.table__row
            td.table__col
              a(href="#").inline-link.inline-link_style1.solid Bank Wire
            td.table__col Contact CS
            td.table__col $9,500 per transaction
          tr.table__row
            td.table__col
              a(href="#").inline-link.inline-link_style1.solid Check by Courier
            td.table__col $50
            td.table__col No Max
    tr.table__row.table__row_general
      td.table__col.table__col-title Support
      td.table__col Live Chat (Not Available/Available); <br>
        | Phone (Not Available/1-888-263-0000); <br>
        | Email (Not Available/support@betway.com).
    tr.table__row.table__row_general
      td.table__col.table__col-title Hours of Operation
      td.table__col Customer Service & Wagering staff on duty 24 hours, 7 days a week 365 days per year. Online wagering 24/7/365   
    tr.table__row.table__row_general
      td.table__col.table__col-title Languages
      td.table__col
        a(href="#").inline-link.inline-link_style1.solid English
        | , 
        a(href="#").inline-link.inline-link_style1.solid Spanish
        | , 
        a(href="#").inline-link.inline-link_style1.solid Portuguese
    tr.table__row.table__row_general
      td.table__col.table__col-title New Account Bonuses 
      td.table__col
        a(href="#").inline-link.inline-link_style1.solid 50% Bonus up to $500
        <br>
        a(href="#").inline-link.inline-link_style1.solid Bet 10$ Get 20$ in Free Bets
    tr.table__row.table__row_general
      td.table__col.table__col-title Special Promotions 
      td.table__col
        a(href="#").inline-link.inline-link_style1.solid CASINO: 100% Match Bonus up to $1,000 (Redeemable 3X);
        <br>
        a(href="#").inline-link.inline-link_style1.solid Bitcoin SPORTS Welcome Bonus: 50% up to $500;
        <br>
        a(href="#").inline-link.inline-link_style1.solid Bitcoin CASINO Welcome Bonus: 150% Match Bonus up to $1,500 (Redeemable 3X).