.join
  .container
    .join__container
      span.join__title Join today to claim our 
        a(href="#") exclusive bonuses!
      span.join__sub-title Be the first to receive the latest welcome offers, free bets and tips
      form.join-form(action="")
        .join-form__group
          input(type="email" placeholder="Enter you email here" required).join-form__input
          button(type="submit").button.button_style1.join-form__button Subscribe
        .join-form__group
          input(type="checkbox" id="mail").checkbox.join-form__checkbox
          label.join-form__label(for='mail') Yes, i agee to receiving emails from Online-Bookmaker.com