.mobile-nav
  .mobile-nav__close-container
    a(href="#").mobile-nav__close
      span
  .mobile-nav__container.sl--scrollable
    ul.mobile-nav__list
      li.mobile-nav__item
        a(href="#").mobile-nav__link ONLINE BOOKMAKERS
      li.mobile-nav__item
        a(href="#").mobile-nav__link BETTING SITES
      li.mobile-nav__item
        a(href="#").mobile-nav__link BETTING APPS
      li.mobile-nav__item
        a(href="#").mobile-nav__link FREE BETS
      li.mobile-nav__item
        a(href="#").mobile-nav__link GUIDES
.overlay
