mixin article(title)
  article.news-block
    .news-block__container
      a(href="#").news-block__image
        img(alt="").lazy&attributes(attributes)
      .news-block__content
        span.news-block__date 22 February 2019
        a(href="#").inline-link.inline-link_style4.news-block__title=title
        p.news-block__text The license was issued by the California Horse Racing Board, after a three-month extension was approved...


