.other-reviews
  h4.title.title_style1 Other Reviews
  p Which online bookmaker is the best? Most people ask this question, especially when they find the many types of established bookmakers in the market. In this section, we show you the factors to consider if you want to find the best bookmaker to invest in.
  .other-reviews__container
    .other-reviews-block
      .other-reviews-block__content
        .other-reviews-block__image
          img(data-src="img/Bookies/ff5e94874f1e99b3d906f04bfcaa8bb4.png", alt="").lazy
        .other-reviews-block__container
          .other-reviews-block__rating
            span.other-reviews-block__rating-value
              span 9.8
              | /10
            include rating-block
          a(href="#").button.button_style2.other-reviews-block__button Read Reviews
    .other-reviews-block
      .other-reviews-block__content
        .other-reviews-block__image
          img(data-src="img/Bookies/ff5e94874f1e99b3d906f04bfcaa8bb4.png", alt="").lazy
        .other-reviews-block__container
          .other-reviews-block__rating
            span.other-reviews-block__rating-value
              span 9.8
              | /10
            include rating-block
          a(href="#").button.button_style2.other-reviews-block__button Read Reviews
    .other-reviews-block
      .other-reviews-block__content
        .other-reviews-block__image
          img(data-src="img/Bookies/ff5e94874f1e99b3d906f04bfcaa8bb4.png", alt="").lazy
        .other-reviews-block__container
          .other-reviews-block__rating
            span.other-reviews-block__rating-value
              span 9.8
              | /10
            include rating-block
          a(href="#").button.button_style2.other-reviews-block__button Read Reviews
    .other-reviews-block
      .other-reviews-block__content
        .other-reviews-block__image
          img(data-src="img/Bookies/ff5e94874f1e99b3d906f04bfcaa8bb4.png", alt="").lazy
        .other-reviews-block__container
          .other-reviews-block__rating
            span.other-reviews-block__rating-value
              span 9.8
              | /10
            include rating-block
          a(href="#").button.button_style2.other-reviews-block__button Read Reviews
    .other-reviews-block
      .other-reviews-block__content
        .other-reviews-block__image
          img(data-src="img/Bookies/ff5e94874f1e99b3d906f04bfcaa8bb4.png", alt="").lazy
        .other-reviews-block__container
          .other-reviews-block__rating
            span.other-reviews-block__rating-value
              span 9.8
              | /10
            include rating-block
          a(href="#").button.button_style2.other-reviews-block__button Read Reviews
    .other-reviews-block
      .other-reviews-block__content
        .other-reviews-block__image
          img(data-src="img/Bookies/ff5e94874f1e99b3d906f04bfcaa8bb4.png", alt="").lazy
        .other-reviews-block__container
          .other-reviews-block__rating
            span.other-reviews-block__rating-value
              span 9.8
              | /10
            include rating-block
          a(href="#").button.button_style2.other-reviews-block__button Read Reviews