.rating
  ul.rating__list
    li.rating__item
      svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
    li.rating__item
      svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
    li.rating__item
      svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
    li.rating__item
      svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
    li.rating__item
      svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
    li.rating__item
      svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
    li.rating__item
      svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
    li.rating__item
      svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico27"></use>
    li.rating__item
      svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico26"></use>
    li.rating__item
      svg.icon <use xlink:href="img/icons/icon-sprite.svg#ico25"></use>