mixin sign-up-offers-block()
  .sign-up-offers-block
    a(href="" rel="nofollow", target="_blank").sign-up-offers-block__container
      .sign-up-offers-block__section
        .sign-up-offers-block__image
          img(data-src="img/offers/offer6.png", alt="").lazy
        .sign-up-offers-block__titles
          span.sign-up-offers-block__title MoPlay
          span.sign-up-offers-block__sub-title Deposit £10 Get £30 in Bonuses
        span.sign-up-offers-block__label £30
      .sign-up-offers-block__section
        p.sign-up-offers-block__text 1) New UK customers only. 2) Qualifying bet must a single bet of £10 or more at odds of evens (2.0) or greater. 3) 2 x £10 free bets will be credited within 24 hours of qualifying bet settlement. 4) Neteller & Skrill depositors not eligible for promotion. 5) Full T&C's apply.
.sign-up-offers.aside-block
  h4.title.title_style1 
  .sign-up-offers__container
    +sign-up-offers-block()
    +sign-up-offers-block()
    +sign-up-offers-block()
    +sign-up-offers-block()
    +sign-up-offers-block()
  a(href="#").button.button_style2.sign-up-offers__button View All