div.tooltip-container
  .tooltip-block(id="tooltip-block_1")
    button.tooltip-block__close
    .tooltip-block__container
      .tooltip-block__text-container
        span.tooltip-block__title 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
div.tooltip-container
  .tooltip-block(id="tooltip-block_expert")
    button.tooltip-block__close
    .tooltip-block__container.tooltip-block__container_type2
      .tooltip-block__photo
        img(src="img/photo1.png", alt="")
      .tooltip-block__text-container
        span.tooltip-block__title Brandon Moore
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
div.tooltip-container
  .tooltip-block(id="tooltip-block_advertiser")
    button.tooltip-block__close
    .tooltip-block__container
      .tooltip-block__text-container
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.